IR_API_irekini.json
{
  "name": "IR API irekini",
  "nodes": [
    {
      "parameters": {
        "value1": "={{ $json.statusCode }}",
        "rules": {
          "rules": [
            {
              "operation": "equal",
              "value2": 404
            },
            {
              "operation": "equal",
              "value2": 200,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 500,
              "output": 1
            }
          ]
        }
      },
      "id": "d4ebd206-4112-47d2-bd42-c65841767817",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -780,
        1040
      ],
      "notesInFlow": true,
      "notes": "CHECK NEW PARTNER"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "order_nr",
              "value": "={{ $('Webhook').item.json.body.id }}"
            },
            {
              "name": "customer_id",
              "value": "={{ $json.body.id }}"
            },
            {
              "name": "customer_name",
              "value": "={{ $('Order').item.json[\"body\"][\"billing\"][\"first_name\"] }} {{ $('Order').item.json[\"body\"][\"billing\"][\"last_name\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "e6acc586-db82-4106-ad6b-454035ff9770",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        400,
        660
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "order_nr",
              "value": "={{ $('Webhook').item.json.body.id }}"
            },
            {
              "name": "customer_id",
              "value": "={{ $json.body.id }}"
            },
            {
              "name": "customer_name",
              "value": "={{ $('Check customer').item.json.body.name }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "6e43a04a-0324-4378-be78-246a25cc4793",
      "name": "Set2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        120,
        1080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.LEN }}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "a211e4f5-c678-4c08-b7b6-1de6af969c03",
      "name": "IF_legal",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -160,
        420
      ],
      "notesInFlow": true,
      "notes": "LEGAL COMPANY ?"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "01c7f401-2fc3-475c-add3-3c3158ffdf1a",
        "options": {}
      },
      "id": "45c32eeb-f71b-40d9-b750-51de887b6168",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1280,
        480
      ],
      "webhookId": "01c7f401-2fc3-475c-add3-3c3158ffdf1a"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\nvar regnr;\nvar comp;\n\nfor (reg of $input.item.json.body.meta_data) {\n\n   if (reg['key'] == '_billing_pvn_numurs'  ) {\n       regnr = reg['value'];\n   }\n}\n\n\nfor (reg of $input.item.json.body.meta_data) {\n\n   if (reg['key'] == '_billing_uznemuma_nosaukms'  ) {\n       comp = reg['value'];\n   }\n}\n\nif ( comp ) $input.item.json.COMP =  comp;\n   else $input.item.json.COMP =  $input.item.json.body.billing.first_name+ ' '+   $input.item.json.body.billing.last_name;\n\n\nif (regnr) { \n\n  regnr = regnr.trim();\n  len = regnr.length;\n\n  if (len == 13) {\n    $input.item.json.REGNR = regnr.substr(2,len);\n  } else  if (len == 11)  $input.item.json.REGNR = regnr;\n    else  $input.item.json.NONSTANDART = true;\n\n    $input.item.json.CHECKNR = ( $input.item.json.REGNR  ? $input.item.json.REGNR :  regnr ) ;\n  \n    $input.item.json.LEN =len;\n}\n\n\nreturn $input.item;"
      },
      "id": "530ae95d-e1b4-4d8d-a2c4-a4d40e18e204",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -440,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body[\"payment_method\"] }}",
              "value2": "bacs"
            }
          ]
        }
      },
      "id": "336a55f5-3a15-4489-a389-37c15d91334d",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -780,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body[\"payment_method\"] }}",
              "value2": "everypay"
            }
          ]
        }
      },
      "id": "8fccc17b-02cf-4ed7-8fb9-cfb4493b602e",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -680,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Order').item.json.body[\"payment_method\"] }}",
              "value2": "bacs"
            }
          ]
        }
      },
      "id": "e156a9fc-02e3-4341-a81d-1fe66f31887a",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        440,
        400
      ]
    },
    {
      "parameters": {
        "url": "= https://irdarbnicas.lv/wp-json/wc/v3/orders/{{ $json.body.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "7ea7c5a6-4988-4bd8-a316-5c073730203c",
      "name": "Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1000,
        640
      ],
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "9",
          "name": "IR darbnica"
        }
      },
      "notes": "READ ORDER"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "payment_method",
              "value": "Bank Transfer"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "61729f06-8d34-4207-9b52-97300a579b59",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        620,
        360
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "payment_method",
              "value": "Everypay"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "fba323c8-5e47-4a39-87c1-f70a2be1ff25",
      "name": "Set3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        620,
        580
      ]
    },
    {
      "parameters": {
        "workflowId": "Vid0FoFzaJ6OmdSV"
      },
      "id": "66d0044d-a563-4469-9415-f3043e7f62aa",
      "name": "Avanss",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1060,
        940
      ]
    },
    {
      "parameters": {
        "workflowId": "N4bX7ICIlEDvI32H"
      },
      "id": "3cee9600-fe13-436d-b1fb-22dc7ba01615",
      "name": "Serviss",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1060,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Order').item.json.body[\"payment_method\"] }}",
              "value2": "everypay"
            }
          ]
        }
      },
      "id": "02229e81-b1a1-46fb-a769-28808289431c",
      "name": "IF3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        860,
        800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.body.status }}",
              "operation": "equal",
              "value2": 400
            }
          ]
        }
      },
      "id": "4d103926-6926-485f-a5a7-4f6a26889ee5",
      "name": "IF4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -280,
        760
      ]
    },
    {
      "parameters": {
        "url": "=https://api.weberp.lv/?r=atvertiedati/search/company&isApi=1&value={{ $('IF_legal').item.json.REGNR }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "a212e1ac-7dd9-446b-8e43-76fc9815f9b2",
      "name": "urapi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -480,
        760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Order').item.json.body[\"payment_method\"] }}",
              "value2": "bacs"
            }
          ]
        }
      },
      "id": "4122a975-96dc-4181-810f-99a8508d3f00",
      "name": "IF5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        380,
        1080
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "payment_method",
              "value": "Bank Transfer"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "1c15e3e3-1b15-4279-bf35-0ca8a7aaa053",
      "name": "Set4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        580,
        940
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "payment_method",
              "value": "Everypay"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "92261786-50cf-4141-9cdf-8c24a7849422",
      "name": "Set5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        580,
        1140
      ]
    },
    {
      "parameters": {
        "workflowId": "CZCvhkb89DMedz94"
      },
      "id": "389d5ec4-a3aa-439c-a35f-1d160decc1e6",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -1040,
        1080
      ]
    },
    {
      "parameters": {
        "url": "=https://irekini.lv/api.php?r=invoices/company/find-by-reg-code&access-token=TVPlsEZjdCj--B2-rK-SKDrZPqU5_ikk&cId=16779&regcode={{ $json.CHECKNR }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "5cf31a11-df28-48c9-b60c-42c3f4453d22",
      "name": "Check customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        120,
        460
      ],
      "notesInFlow": true,
      "notes": "CHECK CUSTOMER"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Order').item.json.body.billing.email }}",
        "subject": "IR darbnīcu pasūtījuma kļūda",
        "message": "=<div>\n<p>Esam saņēmuši nekorektu PVN vai Reģistrācijas numuru! </p>\n\n{{ $('Paraksts').item.json.body.meta.apaksa }}\n</div>",
        "options": {
          "appendAttribution": false,
          "ccList": "notikumi@ir.lv"
        }
      },
      "id": "b257cda0-ca7f-41b7-b1a0-7d11cf771643",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -240,
        1240
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "i8yUhQAx74lvxr0z",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('Code1').item.json.LEN }}",
              "operation": "equal",
              "value2": 11
            }
          ]
        }
      },
      "id": "08a0c7ab-d8f9-4133-9009-3c8b1e4afe94",
      "name": "IF6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -680,
        760
      ]
    },
    {
      "parameters": {
        "url": "=https://irekini.lv/api.php?r=invoices/company/create-partner-company&access-token=TVPlsEZjdCj--B2-rK-SKDrZPqU5_ikk&cId=16779&type=person",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"D3cCompany\": {\n    \"regcode\": \"{{ $('Code1').item.json.CHECKNR }}\",\n    \"name\": \"{{  $('Code1').item.json.COMP }}\",\n    \"is_vat_payer\":0,\n    \"withoutRegCode\":0,\n    \"sepa\": \"\",\n    \"address\": \"{{ $('Order').item.json[\"body\"][\"billing\"][\"address_1\"] }} {{ $('Order').item.json[\"body\"][\"billing\"][\"address_2\"]}} {{ $('Order').item.json[\"body\"][\"billing\"][\"city\"] }} {{ $('Order').item.json[\"body\"][\"billing\"][\"country\"] }}\"\n  },\n  \"InvCompany\": {\n    \"payment_term\": \"0\",\n    \"payment_term_in\": \"0\",\n    \"invoice_email\": \"{{ $('Order').item.json[\"body\"][\"billing\"][\"email\"] }}\"\n  }\n}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "c6d5ab7e-dce2-46d1-b555-09ba5e7b2f9e",
      "name": "PARTNER NON VALID CODE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        120,
        860
      ],
      "notesInFlow": true,
      "notes": "CREATE PARTNER"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://irekini.lv/api.php?r=invoices/company/create-partner-company&access-token=TVPlsEZjdCj--B2-rK-SKDrZPqU5_ikk&cId=16779",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"D3cCompany\": {\n    \"regcode\": \"{{ $json[\"body\"][\"select2\"][\"results\"][0][\"regcode\"] }}\",\n    \"sepa\": \"{{ $json[\"body\"][\"select2\"][\"results\"][0][\"sepa\"] }}\",\n    \"name\": {{ JSON.stringify($('urapi').item.json.body.select2.results[0]['name']  ) }},\n    \"typeName\": \"{{  $('urapi').item.json.body.select2.results[0]['type_name'] }}\",\n    \"address\": \"{{  $('urapi').item.json.body.select2.results[0]['address'] }}\"\n  },\n  \"InvCompany\": {\n    \"payment_term\": \"0\",\n    \"payment_term_in\": \"0\",\n    \"invoice_email\": \"{{ $('Order').item.json[\"body\"][\"billing\"][\"email\"] }}\"\n  }\n}\n",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "f091abe3-a330-43a5-817a-8ab12fc571a2",
      "name": "PARTNER VALID CODE1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -120,
        980
      ],
      "notesInFlow": true,
      "notes": "POST NEW CUSTOMER"
    },
    {
      "parameters": {
        "url": "=https://irekini.lv/api.php?r=invoices/company/create-partner-company&access-token=TVPlsEZjdCj--B2-rK-SKDrZPqU5_ikk&cId=16779&type=person",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"D3cCompany\": {\n    \"regcode\": \"\",\n    \"name\": \"{{ ( $('Order').item.json[\"body\"][\"billing\"][\"company\"] ? $('Order').item.json[\"body\"][\"billing\"][\"company\"] :  $('Order').item.json[\"body\"][\"billing\"][\"first_name\"]+' '+$('Order').item.json[\"body\"][\"billing\"][\"last_name\"] )}}\",\n    \"is_vat_payer\":0,\n    \"withoutRegCode\":1,\n    \"sepa\": \"\",\n    \"address\": \"{{ $('Order').item.json[\"body\"][\"billing\"][\"address_1\"] }} {{ $('Order').item.json[\"body\"][\"billing\"][\"address_2\"]}} {{ $('Order').item.json[\"body\"][\"billing\"][\"city\"] }} {{ $('Order').item.json[\"body\"][\"billing\"][\"country\"] }}\"\n  },\n  \"InvCompany\": {\n    \"payment_term\": \"0\",\n    \"payment_term_in\": \"0\",\n    \"invoice_email\": \"{{ $('Order').item.json[\"body\"][\"billing\"][\"email\"] }}\"\n  }\n}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "6834a353-1c38-4647-8ded-78f1012ca13e",
      "name": "PARTNER PRIVATE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        120,
        680
      ],
      "notesInFlow": true,
      "notes": "CREATE PARTNER"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "order_nr",
              "value": "={{ $('Webhook').item.json.body.id }}"
            },
            {
              "name": "customer_id",
              "value": "={{ $json.body.id }}"
            },
            {
              "name": "customer_name",
              "value": "={{ $('Code1').item.json.COMP }}"
            }
          ],
          "string": [
            {
              "name": "remark",
              "value": "Nekorekts PVN vai reģistrācijas numurs"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "3bd237cf-82fc-4a02-b5cc-eb95ac36ddc6",
      "name": "Set6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        400,
        860
      ]
    },
    {
      "parameters": {
        "url": "= https://irdarbnicas.lv/wp-json/wp/v2/paraksti/5243",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "1fd93fd2-ac08-4d4f-a782-ba056abb0bde",
      "name": "Paraksts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -480,
        1240
      ],
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "ANe97BR4sIiNl0rE",
          "name": "IR WP API"
        }
      },
      "notes": "READ ORDER"
    },
    {
      "parameters": {
        "sendTo": "=notikumi@ir.lv",
        "subject": "IR darbnīcu pasūtījuma kļūda",
        "message": "=<div>\n<p>Esam saņēmuši nekorektu PVN vai Reģistrācijas numuru! </p>\n{{ $('Order').item.json.id }}\n\n\n</div>",
        "options": {
          "appendAttribution": false,
          "ccList": "notikumi@ir.lv"
        }
      },
      "id": "3559484a-3db7-4af3-a801-e96427917179",
      "name": "Gmail1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -40,
        1240
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "i8yUhQAx74lvxr0z",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "IF6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_legal": {
      "main": [
        [
          {
            "node": "Check customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PARTNER PRIVATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "IF_legal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set2": {
      "main": [
        [
          {
            "node": "IF5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set3": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF3": {
      "main": [
        [
          {
            "node": "Serviss",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Avanss",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF4": {
      "main": [
        [
          {
            "node": "PARTNER NON VALID CODE",
            "type": "main",
            "index": 0
          },
          {
            "node": "Paraksts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PARTNER VALID CODE1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "urapi": {
      "main": [
        [
          {
            "node": "IF4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF5": {
      "main": [
        [
          {
            "node": "Set4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set4": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set5": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check customer": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF6": {
      "main": [
        [
          {
            "node": "urapi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PARTNER NON VALID CODE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PARTNER NON VALID CODE": {
      "main": [
        [
          {
            "node": "Set6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PARTNER VALID CODE1": {
      "main": [
        [
          {
            "node": "Set2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PARTNER PRIVATE": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set6": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paraksts": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "BDx8NwbqJhGZxzLz",
    "timezone": "Europe/Riga",
    "executionOrder": "v0"
  },
  "versionId": "716a7976-2119-4880-917f-d1c5aa781c44",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0f064bae8ef402bc77bc2dfa9bf8ed7b60d49005d687ffae7941232c8a9d8d44"
  },
  "id": "33",
  "tags": [
    {
      "createdAt": "2023-08-10T06:09:50.889Z",
      "updatedAt": "2023-08-10T06:09:50.889Z",
      "id": "4",
      "name": "IR"
    }
  ]
}
