IR_API_irekini.json
{
  "name": "IR API irekini",
  "nodes": [
    {
      "parameters": {
        "value1": "={{ $json.statusCode }}",
        "rules": {
          "rules": [
            {
              "operation": "equal",
              "value2": 404
            },
            {
              "operation": "equal",
              "value2": 200,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 500,
              "output": 1
            }
          ]
        }
      },
      "id": "7d2dc965-0a26-412e-84d6-8792a0e1eea5",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        720,
        1088
      ],
      "notesInFlow": true,
      "notes": "CHECK NEW PARTNER"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "order_nr",
              "value": "={{ $('Webhook').item.json.body.id}}"
            },
            {
              "name": "customer_id",
              "value": "={{ $json.body.id }}"
            },
            {
              "name": "customer_name",
              "value": "={{ $('Order').item.json[\"body\"][\"billing\"][\"first_name\"] }} {{ $('Order').item.json[\"body\"][\"billing\"][\"last_name\"] }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "55ea3550-3f85-43bd-8f0c-86f4079a12b0",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1904,
        704
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "order_nr",
              "value": "={{ $('Webhook').item.json.body.id }}"
            },
            {
              "name": "customer_id",
              "value": "={{ $json.body.id }}"
            },
            {
              "name": "customer_name",
              "value": "={{ $('Check customer').item.json.body.name }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "e781215e-d528-49d8-a07a-361dfc3d72d1",
      "name": "Set2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1632,
        1120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.LEN }}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "9c1faf35-8a22-4aba-9bb5-4846b905bae6",
      "name": "IF_legal",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1312,
        368
      ],
      "notesInFlow": true,
      "notes": "LEGAL COMPANY ?"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Order').item.json.body[\"payment_method\"] }}",
              "value2": "bacs"
            }
          ]
        }
      },
      "id": "9c972c0b-a913-4a14-aef9-091065d56707",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1952,
        448
      ]
    },
    {
      "parameters": {
        "url": "=https://irdarbnicas.lv/wp-json/wc/v3/orders/{{ $json.body.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "05a3b65b-01b7-4be3-994d-da7f0b7ff748",
      "name": "Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -80,
        208
      ],
      "notesInFlow": true,
      "retryOnFail": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "9",
          "name": "IR darbnica"
        }
      },
      "notes": "READ ORDER"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "payment_method",
              "value": "Bank Transfer"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "436bd9cf-e691-4cfb-bd44-2b2eb0cc26aa",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2128,
        400
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "payment_method",
              "value": "Everypay"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "5a221740-6b01-43f9-abaa-7a130403ed6e",
      "name": "Set3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2128,
        624
      ]
    },
    {
      "parameters": {
        "workflowId": "Vid0FoFzaJ6OmdSV",
        "options": {}
      },
      "id": "9ad56307-abb6-4cb0-b429-9564862cfa38",
      "name": "Avanss",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2560,
        992
      ]
    },
    {
      "parameters": {
        "workflowId": "N4bX7ICIlEDvI32H",
        "options": {}
      },
      "id": "159b1f88-7ef5-4405-8e4f-ea49a5ed9943",
      "name": "Serviss",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2560,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Order').item.json.body[\"payment_method\"] }}",
              "value2": "everypay"
            }
          ]
        }
      },
      "id": "ba45b130-b216-4797-9494-8b3f2b215598",
      "name": "IF3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2368,
        848
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.body.status }}",
              "operation": "equal",
              "value2": 400
            }
          ]
        }
      },
      "id": "8ba84178-4de9-47d8-8341-032374106a7a",
      "name": "IF4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1232,
        800
      ]
    },
    {
      "parameters": {
        "url": "=https://api.weberp.lv/?r=atvertiedati/search/company&isApi=1&value={{ $('IF_legal').item.json.REGNR }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "0bfd8eda-536f-4f17-9575-14e3b3512cab",
      "name": "urapi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1024,
        800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Order').item.json.body[\"payment_method\"] }}",
              "value2": "bacs"
            }
          ]
        }
      },
      "id": "3bad2101-4b00-40ed-8ade-2ad85062334d",
      "name": "IF5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1888,
        1120
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "payment_method",
              "value": "Bank Transfer"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "5379cd5a-9b86-4cfe-9c11-c06acf32c1af",
      "name": "Set4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2080,
        992
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "payment_method",
              "value": "Everypay"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "3383bb98-0d3c-491a-b972-fa1ebff4cfb7",
      "name": "Set5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2080,
        1184
      ]
    },
    {
      "parameters": {
        "url": "=https://irekini.lv/api.php?r=invoices/company/find-by-reg-code&access-token=8b7imvkmVIlvfntWNLN1IWs2AYtvZ-fJ&cId=16779&regcode={{ $json.CHECKNR }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "879f8b38-b412-4b75-b58b-b3b82ed88797",
      "name": "Check customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1632,
        512
      ],
      "notesInFlow": true,
      "notes": "CHECK CUSTOMER"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('Code1').item.json.LEN }}",
              "operation": "equal",
              "value2": 11
            },
            {
              "value1": "={{ $('Code1').item.json.LEN }}",
              "operation": "equal",
              "value2": 13
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "bab2506a-92a5-45cf-ac90-ff60452f4fa4",
      "name": "IF6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        800
      ]
    },
    {
      "parameters": {
        "url": "=https://irekini.lv/api.php?r=invoices/company/create-partner-company&access-token=8b7imvkmVIlvfntWNLN1IWs2AYtvZ-fJ&cId=16779&type=person",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"D3cCompany\": {\n    \"regcode\": \"{{ $('Code1').item.json.CHECKNR }}\",\n    \"name\": \"{{  $('Code1').item.json.COMP }}\",\n    \"is_vat_payer\":0,\n    \"withoutRegCode\":0,\n    \"sepa\": \"\",\n    \"address\": \"{{ $('Order').item.json[\"body\"][\"billing\"][\"address_1\"] }} {{ $('Order').item.json[\"body\"][\"billing\"][\"address_2\"]}} {{ $('Order').item.json[\"body\"][\"billing\"][\"city\"] }} {{ $('Order').item.json[\"body\"][\"billing\"][\"country\"] }}\"\n  },\n  \"InvCompany\": {\n    \"payment_term\": \"0\",\n    \"payment_term_in\": \"0\",\n    \"invoice_email\": \"{{ $('Order').item.json[\"body\"][\"billing\"][\"email\"] }}\"\n  }\n}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "2bc528bf-5965-481f-bc88-072f19bd7acc",
      "name": "PARTNER NON VALID CODE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1632,
        912
      ],
      "notesInFlow": true,
      "notes": "CREATE PARTNER"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://irekini.lv/api.php?r=invoices/company/create-partner-company&access-token=8b7imvkmVIlvfntWNLN1IWs2AYtvZ-fJ&cId=16779",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"D3cCompany\": {\n    \"regcode\": \"{{ $json[\"body\"][\"select2\"][\"results\"][0][\"regcode\"] }}\",\n    \"sepa\": \"{{ $json[\"body\"][\"select2\"][\"results\"][0][\"sepa\"] }}\",\n    \"name\": {{ JSON.stringify($('urapi').item.json.body.select2.results[0]['name']  ) }},\n    \"typeName\": \"{{  $('urapi').item.json.body.select2.results[0]['type_name'] }}\",\n    \"address\": \"{{ $('urapi').item.json.body.select2.results[0]['address'].replace(/\"/g, \"\") }}\",\n    \"country_id\" : \"121\"\n  },\n  \"InvCompany\": {\n    \"payment_term\": \"0\",\n    \"payment_term_in\": \"0\",\n    \"invoice_email\": \"{{ $('Order').item.json[\"body\"][\"billing\"][\"email\"] }}\",\n    \"is_vat_payer\":1\n\n  }\n}\n",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "7f1c97ee-a9af-4f1b-8eff-1dadcef97d24",
      "name": "PARTNER VALID CODE1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1392,
        1024
      ],
      "notesInFlow": true,
      "notes": "POST NEW CUSTOMER"
    },
    {
      "parameters": {
        "url": "=https://irekini.lv/api.php?r=invoices/company/create-partner-company&access-token=8b7imvkmVIlvfntWNLN1IWs2AYtvZ-fJ&cId=16779&type=person",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"D3cCompany\": {\n    \"regcode\": \"\",\n    \"name\": \"{{ ( $('Order').item.json[\"body\"][\"billing\"][\"company\"] ? $('Order').item.json[\"body\"][\"billing\"][\"company\"] :  $('Order').item.json[\"body\"][\"billing\"][\"first_name\"]+' '+$('Order').item.json[\"body\"][\"billing\"][\"last_name\"] )}}\",\n    \"is_vat_payer\":0,\n    \"withoutRegCode\":1,\n    \"sepa\": \"\",\n    \"address\": \"{{ $('Order').item.json[\"body\"][\"billing\"][\"address_1\"] }} {{ $('Order').item.json[\"body\"][\"billing\"][\"address_2\"]}} {{ $('Order').item.json[\"body\"][\"billing\"][\"city\"] }} {{ $('Order').item.json[\"body\"][\"billing\"][\"country\"] }}\"\n  },\n  \"InvCompany\": {\n    \"payment_term\": \"0\",\n    \"payment_term_in\": \"0\",\n    \"invoice_email\": \"{{ $('Order').item.json[\"body\"][\"billing\"][\"email\"] }}\"\n  }\n}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "f18eacfe-619d-4551-9140-1ffb6ac0b176",
      "name": "PARTNER PRIVATE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1632,
        720
      ],
      "notesInFlow": true,
      "notes": "CREATE PARTNER"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "order_nr",
              "value": "={{ $('Webhook').item.json.body.id }}"
            },
            {
              "name": "customer_id",
              "value": "={{ $json.body.id }}"
            },
            {
              "name": "customer_name",
              "value": "={{ $('Code1').item.json.COMP }}"
            }
          ],
          "string": [
            {
              "name": "remark",
              "value": "Nekorekts PVN vai reģistrācijas numurs"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "9ae4bbb5-0901-4be0-b31f-86f8061050fd",
      "name": "Set6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1904,
        912
      ]
    },
    {
      "parameters": {
        "url": "=https://irdarbnicas.lv/wp-json/wp/v2/paraksti/5243",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "fb1f9f9d-61eb-49ae-b615-2d1c162aec25",
      "name": "Paraksts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1328,
        1328
      ],
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "ANe97BR4sIiNl0rE",
          "name": "IR WP API"
        }
      },
      "notes": "READ ORDER"
    },
    {
      "parameters": {
        "sendTo": "=notikumi@ir.lv",
        "subject": "IR darbnīcu pasūtījuma kļūda",
        "message": "=<div>\n<style>\np {padding: 10px; }\n</style>\n<p>Esam saņēmuši nekorektu PVN vai Reģistrācijas numuru! </p>\n{{ $('Order').item.json.id }}\n\n\n</div>",
        "options": {
          "appendAttribution": false,
          "ccList": "notikumi@ir.lv"
        }
      },
      "id": "550b40db-0ca3-44ef-9a6b-b31349bdcd0e",
      "name": "Gmail1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1520,
        1328
      ],
      "webhookId": "38b1a9f9-ebaf-45e3-b29d-e31f6b001af2",
      "credentials": {
        "gmailOAuth2": {
          "id": "i8yUhQAx74lvxr0z",
          "name": "IR google"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://irdarbnicas.lv/wp-json/wc/v3/orders/{{ $('Order').item.json.body.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \n   \"meta_data\" : [{\n           \"key\"  :  \"remark\"  ,\n           \"value\" : \"(Nekorekts PVN vai Reģ. Nr.)\"\n       }]\n\n }",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "a9c588c8-3d05-40f5-a133-abad39a3d8ba",
      "name": "Invoiced Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1104,
        1328
      ],
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "9",
          "name": "IR darbnica"
        }
      },
      "notes": "READ ORDER"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "92e9e023-a669-445b-8698-513cbf4ec288",
              "leftValue": "={{ $('Order').item.json.body.status}}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "67a78764-39aa-4958-a0ee-7de1a0d181cd",
              "leftValue": "={{ $('Order').item.json.body.payment_method}}",
              "rightValue": "everypay",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "172ee0cd-1c77-46a1-ab27-9cf274b1de17",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1088,
        544
      ]
    },
    {
      "parameters": {
        "workflowId": "WbFjEFa8KOaJW8XN",
        "options": {}
      },
      "id": "30349c22-c484-43c1-8679-26dfb03a550f",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1648,
        64
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "order_nr",
              "value": "={{ $('Order').item.json.body.id  }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "051f7a5e-57ca-489d-9d08-a5c5cc802ffa",
      "name": "Set7",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1424,
        64
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "16bac2af-f846-474e-ab72-2cbbbce2db8b",
              "name": "inv",
              "value": "={{ $jmespath($('Order').item.json.body.meta_data , \"[?key == 'invoice_nr'].value\")[0] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "6ffbd7e4-5eaf-44e1-8949-80873c9081b0",
      "name": "Invoice",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        144,
        208
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\nvar regnr;\nvar comp;\n\nfor (reg of $input.item.json.body.meta_data) {\n\n   if (reg['key'] == '_billing_pvn_numurs'  ) {\n       regnr = reg['value'];\n       regnr = regnr.replace(/ /g, \"\")\n   }\n}\n\n\nfor (reg of $input.item.json.body.meta_data) {\n\n   if (reg['key'] == '_billing_uznemuma_nosaukms'  ) {\n       comp = reg['value'];\n       comp = comp.replace(/\"/g, \"\");\n   }\n}\n\nif ( comp ) $input.item.json.COMP =  comp;\n   else $input.item.json.COMP =  $input.item.json.body.billing.first_name+ ' '+   $input.item.json.body.billing.last_name;\n\n\nif (regnr) { \n\n  regnr = regnr.trim();\n  len = regnr.length;\n\n  if (len == 13) {\n    $input.item.json.REGNR = regnr.substr(2,len);\n    $input.item.json.LEN = 11;\n    \n  } else  if (len == 11)  $input.item.json.REGNR = regnr;\n    else  $input.item.json.NONSTANDART = true;\n\n    $input.item.json.CHECKNR = ( $input.item.json.REGNR  ? $input.item.json.REGNR :  regnr ) ;\n  \n    $input.item.json.LEN =len;\n}\n\n\nreturn $input.item;"
      },
      "id": "f8ef7ba3-7b9c-412c-b45a-62c8b6749a1f",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1088,
        368
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "92e9e023-a669-445b-8698-513cbf4ec288",
              "leftValue": "={{ $('Order').item.json.body.status}}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "0b24b77d-ba8f-4b64-b794-5964016b7684",
              "leftValue": "={{ $('Order').item.json.body.status}}",
              "rightValue": "on-hold",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "13299e03-4873-4385-93b7-76a95d681dfd",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        848,
        448
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.inv }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "a7031153-45bc-48db-8da3-4da4ad653a0a",
      "name": "IF  Invoice exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        368,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Order').item.json.body.payment_method }}",
              "value2": "everypay"
            }
          ]
        }
      },
      "id": "aaa2c051-16f4-4cfb-a12e-db9dfb5f428a",
      "name": "IF Everypay",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        528,
        448
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Webhook').item.json.body.origin }}",
              "value2": "completed"
            }
          ]
        }
      },
      "id": "78b06c3b-95f5-4b3b-9308-a820e7ee04ff",
      "name": "Origin",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        688,
        272
      ]
    },
    {
      "parameters": {},
      "id": "47c57bfe-003f-48da-9b7a-132ab658f498",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1184,
        64
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "01c7f401-2fc3-475c-add3-3c3158ffdf1a",
        "options": {}
      },
      "id": "7f89e0f0-595e-4a6f-9999-63114eeb7c49",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -304,
        208
      ],
      "webhookId": "01c7f401-2fc3-475c-add3-3c3158ffdf1a"
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "IF6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set2": {
      "main": [
        [
          {
            "node": "IF5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_legal": {
      "main": [
        [
          {
            "node": "Check customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PARTNER PRIVATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order": {
      "main": [
        [
          {
            "node": "Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set3": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF3": {
      "main": [
        [
          {
            "node": "Serviss",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Avanss",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF4": {
      "main": [
        [
          {
            "node": "PARTNER NON VALID CODE",
            "type": "main",
            "index": 0
          },
          {
            "node": "Invoiced Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PARTNER VALID CODE1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "urapi": {
      "main": [
        [
          {
            "node": "IF4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF5": {
      "main": [
        [
          {
            "node": "Set4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set4": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set5": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check customer": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF6": {
      "main": [
        [
          {
            "node": "urapi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PARTNER NON VALID CODE",
            "type": "main",
            "index": 0
          },
          {
            "node": "Invoiced Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PARTNER NON VALID CODE": {
      "main": [
        [
          {
            "node": "Set6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PARTNER VALID CODE1": {
      "main": [
        [
          {
            "node": "Set2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PARTNER PRIVATE": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set6": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paraksts": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoiced Order": {
      "main": [
        [
          {
            "node": "Paraksts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Set7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set7": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoice": {
      "main": [
        [
          {
            "node": "IF  Invoice exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "IF_legal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF  Invoice exists": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Everypay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Everypay": {
      "main": [
        [
          {
            "node": "Origin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Origin": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "BDx8NwbqJhGZxzLz"
  },
  "versionId": "0ca6235a-72a9-49ce-a684-cc4088bb7cff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0f064bae8ef402bc77bc2dfa9bf8ed7b60d49005d687ffae7941232c8a9d8d44"
  },
  "id": "33",
  "tags": [
    {
      "createdAt": "2023-08-10T06:09:50.889Z",
      "updatedAt": "2023-08-10T06:09:50.889Z",
      "id": "4",
      "name": "IR"
    }
  ]
}
