IR_API_create_invoice_advance.json
{
  "name": "IR API create invoice advance fixed",
  "nodes": [
    {
      "parameters": {
        "url": "= https://irdarbnicas.lv/wp-json/wc/v3/orders/{{ $json.order_nr }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "f0402d87-c447-4ec4-a8d3-7514ae48fce6",
      "name": "order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1320,
        460
      ],
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "9",
          "name": "IR darbnica"
        }
      },
      "notes": "READ ORDER"
    },
    {
      "parameters": {},
      "id": "236890a6-cd45-4266-964e-cab3d4d0db5e",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1660,
        800
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "\n\nitems[0].binary.data.fileName = items[0].json[\"headers\"][\"content-filename\"];\n\nreturn items;"
      },
      "id": "9f54db51-3001-43a5-85d5-2be8e0c7e310",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        0,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://irekini.lv/api.php?r=invoices/invoice/attach-label&access-token=TVPlsEZjdCj--B2-rK-SKDrZPqU5_ikk&cId=16779&&invoiceId={{ $json[\"body\"][\"id\"] }}&labelDefId=74\n\n",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "fcb5d8d1-2cd9-42c5-9fa3-95402e654d97",
      "name": "invoice_label",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -320,
        480
      ],
      "notesInFlow": true,
      "executeOnce": true,
      "continueOnFail": true,
      "notes": "LABEL API"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://irekini.lv/api.php?r=invoices/invoice/create-invoice&access-token=TVPlsEZjdCj--B2-rK-SKDrZPqU5_ikk&cId=16779&document_id=439\n\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"InvInvoiceForm\": {\n    \n    \"doc_date\": \"{{$('order').item.json.body.date_created_gmt}}\",\n    \"partner_id\": \"{{ $('Start').item.json.customer_id}}\",\n    \"currency_id\": \"1\",\n    \"payment_type\": \"{{ $('Start').item.json.payment_method}}\",\n    \"additional_info\" : \"{{ $json.additional }}\"\n}\n}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "bd2ac4f4-a850-47a2-9352-7416978d4976",
      "name": "invoice_new",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -560,
        480
      ],
      "notesInFlow": true,
      "executeOnce": true,
      "continueOnFail": true,
      "notes": "POST new invoice advance"
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "items_"
      },
      "id": "3234713f-32aa-4266-97b2-de3c2979281b",
      "name": "items",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [
        20,
        920
      ]
    },
    {
      "parameters": {
        "url": "= https://irdarbnicas.lv/wp-json/wc/v3/products/{{$json.product_id}} ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "7569b81c-7928-4e7b-b122-4f97f73b9e28",
      "name": "product",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -820,
        920
      ],
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "9",
          "name": "IR darbnica"
        }
      },
      "notes": "READ PRODUCT"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.line_items",
        "options": {}
      },
      "id": "d2d82c48-c15f-47fa-a807-1fc6b47acb3b",
      "name": "itemlists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [
        -1180,
        920
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.dateformated }}",
        "format": "custom",
        "customFormat": "dd.MM.yyyy",
        "options": {}
      },
      "id": "62b993fc-71c0-496b-abac-e6e610babd8b",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -620,
        920
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n\nvar memberstring = '';\n\nfor (meta of $input.item.json['meta_data']) {\n    if (meta['key'] == 'Dalībnieki') {\n        var members = JSON.parse(meta[\"value\"]);\n        if (Array.isArray(members)) {\n\n                 for (member of members) {\n                       memberstring = memberstring + member[\"vards_uzvards\"] +  '; ' ;\n                       memberstring = memberstring + member[\"epasts\"] +  '; ' ;\n                       memberstring = memberstring + '\\n';\n                  }\n        }\n      \n    }\n  \n}\n\n\n\n$input.item.json.members = memberstring;\n\nreturn $input.item;"
      },
      "id": "7ba1e7c3-84f4-44cb-902e-7ef44d3b8460",
      "name": "Members",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1020,
        800
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "name",
              "value": "=\n{{ $('itemlists').item.json[\"name\"] }}\nDatums: {{ $('Date & Time').item.json[\"formattedDate\"] }} \nDalībnieki: {{ $('Members').item.json.members }}"
            },
            {
              "name": "count",
              "value": "={{ parseInt($('itemlists').item.json[\"quantity\"]) }}"
            },
            {
              "name": "vat_id",
              "value": "1"
            },
            {
              "name": "unit_id",
              "value": "2"
            }
          ],
          "number": [
            {
              "name": "unit_price",
              "value": "={{ $('itemlists').item.json[\"subtotal\"] / parseInt($('itemlists').item.json[\"quantity\"]) }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "f9b05eda-abbe-4aec-b969-8767e33c95b1",
      "name": "Set2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -240,
        960
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n  var stringemail = '';\n  for (i of item.json.items_) {\n       stringemail = stringemail + \"<br />\" +  i.name + \"<br />\";\n  }\n\n  item.json.stringemail = stringemail;\n\nreturn $input.item;"
      },
      "id": "020d7f5c-01a5-49cc-9b34-4343b97896b4",
      "name": "Stringemail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        1320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n  var dateformated = '';\n  for (meta of item.json.body.meta_data) {\n       if (meta['key'] == 'datums')  item.json.dateformated = meta['value']  ;\n  }\n\n \nreturn $input.item;"
      },
      "id": "bf814a1e-a0a7-4deb-a5e4-863c7cae4afa",
      "name": "Stringemail1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        1160
      ]
    },
    {
      "parameters": {},
      "id": "20e3b308-6920-406b-86af-0f47fa251f8a",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1720,
        460
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('order').item.json.body.payment_method }}",
        "rules": {
          "rules": [
            {
              "value2": "bacs"
            },
            {
              "value2": "everypay",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "32b94b55-3c68-497f-a3bd-75ebceb00cec",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        480,
        600
      ]
    },
    {
      "parameters": {
        "fromEmail": "n8n@system.weberp.lv",
        "toEmail": "edmunds@kls.lv",
        "subject": "Jauns pasūtījums CITS MEDIJS NOTIKUMI (ar rēķinu)",
        "emailFormat": "html",
        "html": "=<style>\np {padding: 10px; }\n</style>\n\n<div class=\"logo\" style=\"width:250px;\" >\n    <img src=\"https://staging.veikals.ir.lv/wp-content/uploads/2023/09/Ir-Darbnicas_logotips_horizontals_RGB.svg\">\n</div>   \n<br />\n<div><h3>IR DARBNĪCAS</h3></DIV>\n\n<div>\n<p>\nLabdien!\n<br /><br />\nMēs esam saņēmuši Jūsu pieteikumu dalībai darbnīcā: \n<br /><br />\n{{ $('Stringemail').item.json[\"stringemail\"] }}\n<br /><br />\nJūsu pasūtījums Nr. {{ $('order').item.json[\"body\"][\"id\"] }}\n</p>\n</div>\n\n<div>\n<p>\nPielikumā ir dalības maksas avansa rēķins.\nMaksājot ar bankas pārskaitījumu, lūdzu, norādiet rēķina numuru!\n</p>\n<p>\nPaldies par Jūsu izvēli!\n</p>\n<p>\nSirsnīgi,\nIR Notikumi komanda\n</p>\n</div>\n<div><p>\nŠis ir automātisks e-pasts, uz to nav nepieciešams atbildēt. Jautājumu gadījumā, lūdzu, sazinieties ar mums pa tālr.: <a href=3D\"tel:27734907\" style=3D\"color:#202020;font-weight=\n:normal;text-decoration:underline\" target=3D\"_blank\">27734907</a> vai e-pastu: <a href=3D\"mailto:info@ir.lv\" style=3D\"color:#202020;font-weight:normal=;text-decoration:underline\" target=3D\"_blank\">info@ir.lv</a>\n</p>\n</div>\n",
        "options": {
          "attachments": "=data",
          "ccEmail": "=notikumi@ir.lv"
        }
      },
      "id": "ee05216a-47cd-4177-88de-770442fbccbc",
      "name": "Admin email Invoice",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        820,
        140
      ],
      "credentials": {
        "smtp": {
          "id": "3qvvgK5rlEf1cqGI",
          "name": "Google IR"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "n8n@system.weberp.lv",
        "toEmail": "={{ $('order').item.json.body.billing.email }}",
        "subject": "Jūsu pasūtījums IR NOTIKUMI (Cits Medijs AS)",
        "emailFormat": "html",
        "html": "=<style>\np {padding: 10px; }\n</style>\n\n\n<div>\n<p>\nLabdien!\n<br /><br />\nMēs esam saņēmuši Jūsu pieteikumu dalībai darbnīcā: \n<br /><br />\n{{ $('Stringemail').item.json[\"stringemail\"] }}\n<br /><br />\n\n</p>\n</div>\n\n<div>\n<p>\nPielikumā ir dalības maksas avansa rēķins.\nMaksājot ar bankas pārskaitījumu, lūdzu, norādiet rēķina numuru!\n</p>\n<p>\nPaldies par Jūsu izvēli! <br/>\nSirsnīgi,\nIR Notikumi komanda\n</p>\n</div>\n<div><p>\nŠis ir automātisks e-pasts, uz to nav nepieciešams atbildēt. Jautājumu gadījumā, lūdzu, sazinieties ar mums pa tālr.: <a href=3D\"tel:27734907\" style=3D\"color:#202020;font-weight=\n:normal;text-decoration:underline\" target=3D\"_blank\">27734907</a> vai e-pastu: <a href=3D\"mailto:info@ir.lv\" style=3D\"color:#202020;font-weight:normal=;text-decoration:underline\" target=3D\"_blank\">info@ir.lv</a>\n</p>\n</div>\n",
        "options": {
          "attachments": "=data"
        }
      },
      "id": "1f0767d8-cd9a-4a5d-a856-1683620eb11c",
      "name": "Client Email Invoice",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        820,
        320
      ],
      "credentials": {
        "smtp": {
          "id": "7",
          "name": "System Weberp"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "Unknown payment method"
      },
      "id": "cf0edf70-222e-4763-ab9f-84caca1077d5",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        540,
        1200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://irekini.lv/api.php?r=invoices/invoice/create-file-download&access-token=TVPlsEZjdCj--B2-rK-SKDrZPqU5_ikk&cId=16779&id={{ $('invoice_new').item.json.body[\"id\"] }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n     \"format\": \"pdf\",\n     \"with_sign\": 0,\n     \"show_product_code\": 0,\n     \"version\" : \"darbnica\"\n}\n",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "49d4217c-d238-4153-ba74-051c4c90e023",
      "name": "Create PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        200,
        700
      ],
      "notesInFlow": true,
      "notes": "CREATE PDF\n"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Start').item.json.payment_method}}",
              "value2": "Everypay"
            }
          ]
        }
      },
      "id": "226c30bd-6194-476b-baa1-43281be3bfbe",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -960,
        240
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "payment",
              "value": "Rēķins ir apmaksāts ar Everypay"
            }
          ]
        },
        "options": {}
      },
      "id": "a7c5c8d5-2621-4744-8b68-4b8962036b28",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -960,
        480
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "payment"
            }
          ]
        },
        "options": {}
      },
      "id": "5675957b-d3a3-4ebb-986d-372995c2136a",
      "name": "Set3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1180,
        240
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "additional",
              "value": "={{ $('order').item.json.body.coupon_lines[0].code }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1b9bd800-0cec-4960-ac9a-04d2960b12e0",
      "name": "Set Additional",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -780,
        480
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "order_nr",
              "value": "={{ $('Start').item.json.order_nr }}"
            },
            {
              "name": "customer_id",
              "value": "={{ $('Start').item.json.customer_id }}"
            },
            {
              "name": "payment_method",
              "value": "={{ $('Start').item.json.payment_method }}"
            }
          ]
        },
        "options": {}
      },
      "id": "55a12c62-04ab-4c1b-a39d-4f8647ab963f",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "= https://irdarbnicas.lv/wp-json/wc/v3/orders/{{ $('Start').item.json.order_nr }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "aa99e670-ee56-4163-887c-c29ba2187067",
      "name": "order1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1300,
        680
      ],
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "9",
          "name": "IR darbnica"
        }
      },
      "notes": "READ ORDER"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "order_nr",
              "value": "={{ $('Start').item.json.order_nr }}"
            },
            {
              "name": "customer_id",
              "value": "={{ $('Start').item.json.customer_id }}"
            },
            {
              "name": "payment_method",
              "value": "={{ $('Start').item.json.payment_method }}"
            },
            {
              "name": "invoice_nr",
              "value": "={{ $('invoice_new').item.json.body[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a369ac51-f890-4606-a3f5-f1938241729a",
      "name": "Set4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        700,
        900
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": "CZCvhkb89DMedz94"
      },
      "id": "bd453151-e5e5-472c-9e31-80dad605c0d8",
      "name": "save participants",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        920,
        1000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "= https://irdarbnicas.lv/wp-json/wc/v3/orders/{{ $('order').item.json.body.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"status\" : \"invoiced\",\n   \"meta_data\" : [{\n           \"key\"  :  \"invoice\"  ,\n           \"value\" : \"{{ $('invoice_new').item.json.body[\"id\"] }}\"\n       },\n            {\n           \"key\"  :  \"partner\"  ,\n           \"value\" : \"{{ $('Start').item.json.customer_id}}\"\n       }\n]\n\n }",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "40b74cba-d985-461f-aec9-d4d4823e1d32",
      "name": "Invoiced Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -320,
        240
      ],
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "9",
          "name": "IR darbnica"
        }
      },
      "notes": "READ ORDER"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('order1').item.json.body.coupon_lines[0].code }}",
              "value2": "irabonents"
            }
          ]
        }
      },
      "id": "56c752bb-d731-4f9e-bc7b-41c88afe006c",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -460,
        920
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "name",
              "value": "=\n{{ $('itemlists').item.json[\"name\"] }}\nDatums: {{ $('Date & Time').item.json[\"formattedDate\"] }} \nDalībnieki: {{ $('Members').item.json.members }}"
            },
            {
              "name": "count",
              "value": "={{ parseInt($('itemlists').item.json[\"quantity\"]) }}"
            },
            {
              "name": "vat_id",
              "value": "1"
            },
            {
              "name": "unit_id",
              "value": "2"
            },
            {
              "name": "discount",
              "value": "20%"
            }
          ],
          "number": [
            {
              "name": "unit_price",
              "value": "={{ $('itemlists').item.json[\"subtotal\"] / parseInt($('itemlists').item.json[\"quantity\"]) }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "30f70d04-e8ea-46e5-82cf-4410f87d1afb",
      "name": "Set5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -240,
        780
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://irekini.lv/api.php?r=invoices/invoice/add-invoice-item&access-token=TVPlsEZjdCj--B2-rK-SKDrZPqU5_ikk&cId=16779&invoiceId={{ $('invoice_new').item.json.body[\"id\"] }}&calculatedTotal={{ $('order').item.json.body.total }}&isDiscount={{ $json.discount }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=\n {{ JSON.stringify($json.items_) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "5051e047-2291-41cc-9d24-d78e3e69393a",
      "name": "HTTP Request4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        220,
        1140
      ],
      "notesInFlow": true,
      "notes": "POST items"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "discount",
              "stringValue": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "1e13759b-c12c-4339-8d72-6938dcc4dbeb",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -240,
        1180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('order1').item.json.body.coupon_lines[0].code }}",
              "value2": "irabonents"
            }
          ]
        }
      },
      "id": "c34a5351-7430-41ff-9264-4ef7afdf77bf",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -420,
        1240
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "discount",
              "stringValue": "0"
            }
          ]
        },
        "options": {}
      },
      "id": "80900f14-84d4-4f42-a079-6f731ce8dd4b",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -240,
        1360
      ]
    },
    {
      "parameters": {
        "fromEmail": "notikumi@ir.lv",
        "toEmail": "edmunds@kls.lv",
        "subject": "Jauns pasūtījums CITS MEDIJS NOTIKUMI (ar rēķinu)",
        "emailFormat": "html",
        "html": "=<style>\np {padding: 10px; }\n</style>\n\n<div class=\"logo\" style=\"width:250px;\" >\n    <img src=\"https://staging.veikals.ir.lv/wp-content/uploads/2023/09/Ir-Darbnicas_logotips_horizontals_RGB.svg\">\n</div>   \n<br />\n<div><h3>IR DARBNĪCAS</h3></DIV>\n\n<div>\n<p>\nLabdien!\n<br /><br />\nMēs esam saņēmuši Jūsu pieteikumu dalībai darbnīcā: \n\n</p>\n</div>\n\n<div>\n<p>\nPielikumā ir dalības maksas avansa rēķins.\nMaksājot ar bankas pārskaitījumu, lūdzu, norādiet rēķina numuru!\n</p>\n<p>\nPaldies par Jūsu izvēli!\n</p>\n<p>\nSirsnīgi,\nIR Notikumi komanda\n</p>\n</div>\n<div><p>\nŠis ir automātisks e-pasts, uz to nav nepieciešams atbildēt. Jautājumu gadījumā, lūdzu, sazinieties ar mums pa tālr.: <a href=3D\"tel:27734907\" style=3D\"color:#202020;font-weight=\n:normal;text-decoration:underline\" target=3D\"_blank\">27734907</a> vai e-pastu: <a href=3D\"mailto:info@ir.lv\" style=3D\"color:#202020;font-weight:normal=;text-decoration:underline\" target=3D\"_blank\">info@ir.lv</a>\n</p>\n</div>\n",
        "options": {
          "attachments": "=data",
          "ccEmail": "=edgars.arnitis@ir.lv"
        }
      },
      "id": "6533ee29-4b1b-4fef-9198-1f292355834c",
      "name": "Admin email Invoice1",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        -1540,
        1320
      ],
      "credentials": {
        "smtp": {
          "id": "3qvvgK5rlEf1cqGI",
          "name": "Google IR"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('order').item.json.body.billing.email }}",
        "subject": "Jūsu pasūtījums IR NOTIKUMI (Cits Medijs AS)",
        "message": "=<style>\np {padding: 10px; }\n</style>\n\n\n<div>\n<p>\nLabdien!\n<br /><br />\nMēs esam saņēmuši Jūsu pieteikumu dalībai darbnīcā: \n<br /><br />\n{{ $('Stringemail').item.json[\"stringemail\"] }}\n<br /><br />\n\n</p>\n</div>\n\n<div>\n<p>\nPielikumā ir dalības maksas avansa rēķins.\nMaksājot ar bankas pārskaitījumu, lūdzu, norādiet rēķina numuru!\n</p>\n<p>\nPaldies par Jūsu izvēli! <br/>\nSirsnīgi,\nIR Notikumi komanda\n</p>\n</div>\n<div><p>\nŠis ir automātisks e-pasts, uz to nav nepieciešams atbildēt. Jautājumu gadījumā, lūdzu, sazinieties ar mums pa tālr.: <a href=3D\"tel:27734907\" style=3D\"color:#202020;font-weight=\n:normal;text-decoration:underline\" target=3D\"_blank\">27734907</a> vai e-pastu: <a href=3D\"mailto:info@ir.lv\" style=3D\"color:#202020;font-weight:normal=;text-decoration:underline\" target=3D\"_blank\">info@ir.lv</a>\n</p>\n</div>\n",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "id": "a3010c3a-429d-473a-9d17-150cd2e936f4",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        820,
        500
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "i8yUhQAx74lvxr0z",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=notikumi@ir.lv",
        "subject": "Jūsu pasūtījums IR NOTIKUMI (Cits Medijs AS)   Avansa rēķins",
        "message": "=<style>\np {padding: 10px; }\n</style>\n\n\n<div>\n<p>\nLabdien!\n<br /><br />\nMēs esam saņēmuši Jūsu pieteikumu dalībai darbnīcā: \n<br /><br />\n{{ $('Stringemail').item.json[\"stringemail\"] }}\n<br /><br />\n\n</p>\n</div>\n\n<div>\n<p>\nPielikumā ir dalības maksas avansa rēķins.\nMaksājot ar bankas pārskaitījumu, lūdzu, norādiet rēķina numuru!\n</p>\n<p>\nPaldies par Jūsu izvēli! <br/>\nSirsnīgi,\nIR Notikumi komanda\n</p>\n</div>\n<div><p>\nŠis ir automātisks e-pasts, uz to nav nepieciešams atbildēt. Jautājumu gadījumā, lūdzu, sazinieties ar mums pa tālr.: <a href=3D\"tel:27734907\" style=3D\"color:#202020;font-weight=\n:normal;text-decoration:underline\" target=3D\"_blank\">27734907</a> vai e-pastu: <a href=3D\"mailto:info@ir.lv\" style=3D\"color:#202020;font-weight:normal=;text-decoration:underline\" target=3D\"_blank\">info@ir.lv</a>\n</p>\n</div>\n",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "id": "49de77ce-b6d6-4402-add2-8888e68cad30",
      "name": "Gmail1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        820,
        700
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "i8yUhQAx74lvxr0z",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "order": {
      "main": [
        [
          {
            "node": "Set3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "invoice_new": {
      "main": [
        [
          {
            "node": "invoice_label",
            "type": "main",
            "index": 0
          },
          {
            "node": "Invoiced Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "items": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "product": {
      "main": [
        [
          {
            "node": "Stringemail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "itemlists": {
      "main": [
        [
          {
            "node": "Members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Members": {
      "main": [
        [
          {
            "node": "product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set2": {
      "main": [
        [
          {
            "node": "items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stringemail1": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Set4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create PDF": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Additional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Set Additional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set3": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Additional": {
      "main": [
        [
          {
            "node": "invoice_new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stringemail": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "invoice_label": {
      "main": [
        [
          {
            "node": "order1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "order1": {
      "main": [
        [
          {
            "node": "itemlists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set4": {
      "main": [
        [
          {
            "node": "save participants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Set5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set5": {
      "main": [
        [
          {
            "node": "items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Create PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Stringemail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Stringemail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "BDx8NwbqJhGZxzLz",
    "executionOrder": "v1"
  },
  "versionId": "68931703-1c06-4293-9cfd-3ed8b570dc61",
  "id": "Vid0FoFzaJ6OmdSV",
  "meta": {
    "instanceId": "0f064bae8ef402bc77bc2dfa9bf8ed7b60d49005d687ffae7941232c8a9d8d44"
  },
  "tags": [
    {
      "createdAt": "2023-08-10T06:09:50.889Z",
      "updatedAt": "2023-08-10T06:09:50.889Z",
      "id": "4",
      "name": "IR"
    }
  ]
}
