IR_API_create_invoice_advance.json
{
  "name": "IR API create invoice advance",
  "nodes": [
    {
      "parameters": {
        "url": "=https://irdarbnicas.lv/wp-json/wc/v3/orders/{{ $json.order_nr }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "2dc81ec8-d936-484b-834f-c9b21694fae4",
      "name": "order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        592,
        480
      ],
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "9",
          "name": "IR darbnica"
        }
      },
      "notes": "READ ORDER"
    },
    {
      "parameters": {},
      "id": "2f0f9998-dc0f-491e-beb9-4760dd496c05",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        32,
        784
      ]
    },
    {
      "parameters": {
        "jsCode": "\n\nitems[0].binary.data.fileName = items[0].json[\"headers\"][\"content-filename\"];\n\nreturn items;"
      },
      "id": "634dda42-154b-4d02-9a45-822122868516",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1904,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://irekini.lv/api.php?r=invoices/invoice/attach-label&access-token=8b7imvkmVIlvfntWNLN1IWs2AYtvZ-fJ&cId=16779&&invoiceId={{ $json[\"body\"][\"id\"] }}&labelDefId=74\n\n",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "5a9ef439-f8bc-4449-9488-4059acbb6025",
      "name": "invoice_label",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1584,
        512
      ],
      "notesInFlow": true,
      "executeOnce": true,
      "continueOnFail": true,
      "notes": "LABEL API"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://irekini.lv/api.php?r=invoices/invoice/create-invoice&access-token=8b7imvkmVIlvfntWNLN1IWs2AYtvZ-fJ&cId=16779&document_id=439\n\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"InvInvoiceForm\": {\n    \n    \"doc_date\": \"{{ $('order').item.json.body.date_created }}\",\n    \"partner_id\": \"{{ $('Start').item.json.customer_id}}\",\n    \"currency_id\": \"1\",\n    \"payment_type\": \"{{ $('Start').item.json.payment_method}}\",\n    \"serial_nr_part2\"  : \"{{ $json.data }}\",\n    \"additional_info\" : \"{{ $ifEmpty($('Set Additional').item.json.additional, \"\") }}\"\n  \n}\n}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "6441ed9d-6951-4fa5-99c9-f4bc6105f042",
      "name": "invoice_new",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1344,
        512
      ],
      "notesInFlow": true,
      "executeOnce": true,
      "continueOnFail": true,
      "notes": "POST new invoice advance"
    },
    {
      "parameters": {
        "url": "=https://irdarbnicas.lv/wp-json/wc/v3/products/{{$json.product_id}} ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "da562411-4076-4427-a67f-5c22a219b272",
      "name": "product",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        624,
        1360
      ],
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "9",
          "name": "IR darbnica"
        }
      },
      "notes": "READ PRODUCT"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.line_items",
        "options": {}
      },
      "id": "093cee21-d557-496c-a207-a6a4485cf233",
      "name": "itemlists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [
        432,
        1088
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.dateformated }}",
        "format": "custom",
        "customFormat": "dd.MM.yyyy",
        "options": {}
      },
      "id": "462107e6-47c1-4c71-b155-a9cbf85664bb",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        928,
        944
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n\nvar memberstring = '';\n\nfor (meta of $input.item.json['meta_data']) {\n    if (meta['key'] == 'Dalībnieki') {\n        var members = JSON.parse(meta[\"value\"]);\n        if (Array.isArray(members)) {\n\n                 for (member of members) {\n                       memberstring = memberstring + member[\"vards_uzvards\"] +  '; ' ;\n                       memberstring = memberstring + member[\"epasts\"] +  '; ' ;\n                  }\n        }\n      \n    }\n  \n}\n\n\n\n$input.item.json.members = memberstring.slice(0, -2);\n\nreturn $input.item;"
      },
      "id": "2ba24c43-571f-4fbe-ba24-6474e17b75a6",
      "name": "Members",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        1360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n  var stringemail = '';\n  for (i of item.json.items_) {\n       stringemail = stringemail + \"<br />\" +  i.name_email + \"<br />\";\n  }\n\n  item.json.stringemail = stringemail;\n\nreturn $input.item;"
      },
      "id": "0338a5c0-e2f2-4273-adad-2a013a4b6d64",
      "name": "Stringemail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        1344
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n  var dateformated = '';\n  for (meta of item.json.body.meta_data) {\n       if (meta['key'] == 'datums_')  item.json.dateformated = meta['value']  ;\n  }\n\n \nreturn $input.item;"
      },
      "id": "0c470d6d-6dfb-41c1-a818-e208e9019c6d",
      "name": "Stringemail1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        1360
      ]
    },
    {
      "parameters": {},
      "id": "66e0c0d6-fe50-4c44-b945-9dfb2b20ae60",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        32,
        480
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('order').item.json.body.payment_method }}",
        "rules": {
          "rules": [
            {
              "value2": "bacs"
            },
            {
              "value2": "everypay",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "9e10f2d8-06ed-400a-a666-44ff89a8af42",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2384,
        624
      ]
    },
    {
      "parameters": {
        "errorMessage": "Unknown payment method"
      },
      "id": "f7832603-f615-43d1-95fd-9139db2de76f",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2880,
        1232
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://irekini.lv/api.php?r=invoices/invoice/create-file-download&access-token=8b7imvkmVIlvfntWNLN1IWs2AYtvZ-fJ&cId=16779&id={{ $('invoice_new').item.json.body[\"id\"] }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n     \"format\": \"pdf\",\n     \"with_sign\": 0,\n     \"show_product_code\": 0,\n     \"version\" : \"darbnica\"\n}\n",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "d4dde9f8-95b4-40f6-975c-63aa93688a89",
      "name": "Create PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1984,
        624
      ],
      "notesInFlow": true,
      "notes": "CREATE PDF\n"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Start').item.json.payment_method}}",
              "value2": "Everypay"
            }
          ]
        }
      },
      "id": "13013d84-2c59-466b-bcff-5a3043215469",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        944,
        272
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "payment",
              "value": "Rēķins ir apmaksāts ar Everypay"
            }
          ]
        },
        "options": {}
      },
      "id": "fa6cce8b-a692-44e8-82bd-bf9e01fb5963",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        944,
        512
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "payment"
            }
          ]
        },
        "options": {}
      },
      "id": "662ef7c9-c7ba-4ab1-a998-772e68d90726",
      "name": "Set3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        720,
        272
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "additional",
              "value": "={{ $('order').item.json.body.coupon_lines[0].code }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f60631d6-1f64-4a05-b55c-1b921062f2ae",
      "name": "Set Additional",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1120,
        512
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "order_nr",
              "value": "={{ $('Start').item.json.order_nr }}"
            },
            {
              "name": "customer_id",
              "value": "={{ $('Start').item.json.customer_id }}"
            },
            {
              "name": "payment_method",
              "value": "={{ $('Start').item.json.payment_method }}"
            }
          ]
        },
        "options": {}
      },
      "id": "14217188-75bd-4529-a537-358546065048",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2224,
        304
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://irdarbnicas.lv/wp-json/wc/v3/orders/{{ $('Start').item.json.order_nr }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "01f49ff0-5f64-4b44-bea1-0861e80272e1",
      "name": "order1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        224,
        1088
      ],
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "9",
          "name": "IR darbnica"
        }
      },
      "notes": "READ ORDER"
    },
    {
      "parameters": {
        "workflowId": "CZCvhkb89DMedz94",
        "options": {}
      },
      "id": "c58ec3f0-b69c-4a9a-adbd-974aebd21c5b",
      "name": "save participants",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3184,
        352
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://irdarbnicas.lv/wp-json/wc/v3/orders/{{ $('order').item.json.body.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"status\" : \"invoiced\",\n   \"meta_data\" : [{\n           \"key\"  :  \"invoice\"  ,\n           \"value\" : \"{{ $('invoice_new').item.json.body[\"id\"] }}\"\n       },\n            {\n           \"key\"  :  \"partner\"  ,\n           \"value\" : \"{{ $('Start').item.json.customer_id}}\"\n       },\n{\n           \"key\"  :  \"partner_name\"  ,\n           \"value\" : {{ JSON.stringify($('Start').item.json.customer_name)}}\n       },\n       {\n           \"key\"  :  \"invoice_nr\"  ,\n           \"value\" : \"{{ $json.body.serial_nr_part2}}\"\n       },\n        {\n           \"key\"  :  \"invoice_full\"  ,\n           \"value\" : \"{{ $json.body.serial_nr_part1}}/{{ $json.body.serial_nr_part2}}\"\n       },\n {\n           \"key\"  :  \"invoice_sum\"  ,\n           \"value\" : \"{{ $('order').item.json.body.total}}\"\n       }\n]\n\n }",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "dff43c34-e8b8-465e-838d-4d61f8f91128",
      "name": "Invoiced Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1584,
        272
      ],
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "9",
          "name": "IR darbnica"
        }
      },
      "notes": "READ ORDER"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://irekini.lv/api.php?r=invoices/invoice/add-invoice-item&access-token=8b7imvkmVIlvfntWNLN1IWs2AYtvZ-fJ&cId=16779&invoiceId={{ $('invoice_new').item.json.body[\"id\"] }}&calculatedTotal={{ $('order').item.json.body.total }}&isDiscount={{ $json.discount }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=\n {{ JSON.stringify($json.items_) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "821a243e-ef11-46cf-8b9c-bfa29132e77b",
      "name": "HTTP Request4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2288,
        1344
      ],
      "notesInFlow": true,
      "notes": "POST items"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "order_nr",
              "value": "={{ $('Start').item.json.order_nr }}"
            },
            {
              "name": "customer_id",
              "value": "={{ $('Start').item.json.customer_id }}"
            },
            {
              "name": "payment_method",
              "value": "={{ $('Start').item.json.payment_method }}"
            },
            {
              "name": "invoice_nr",
              "value": "={{ $('invoice_new').item.json.body[\"id\"] }}"
            },
            {
              "name": "invoice_nr_full",
              "value": "={{ $('invoice_new').item.json.body.serial_nr_part1}}/{{ $('invoice_new').item.json.body.serial_nr_part2}}"
            },
            {
              "name": "customer_name",
              "value": "={{ $('Start').item.json.customer_name }}"
            },
            {
              "name": "service_type",
              "value": "Avansa rēķins"
            }
          ],
          "number": [
            {
              "name": "invocice_total",
              "value": "={{ $('order').item.json.body.total}}"
            }
          ]
        },
        "options": {}
      },
      "id": "a868114b-edbf-448c-86bd-284a3d5c94cf",
      "name": "Set6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2880,
        352
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sendTo": "={{ $('order').item.json.body.billing.email }}",
        "subject": "Jūsu pasūtījums IR DARBNĪCAS (Cits Medijs AS)",
        "message": "=<style>\np { padding: 10px; }\n</style>\n\n<p>\nLabdien!\n<br /><br />\nMēs esam saņēmuši Jūsu pieteikumu dalībai: \n<br /><br />\n{{ $('Stringemail').item.json[\"stringemail\"] }}\n</p>\n<p>\nPielikumā ir dalības maksas avansa rēķins.\nMaksājot ar bankas pārskaitījumu, lūdzu, norādiet rēķina numuru!\n</p>\n{{ $('Paraksts').item.json.body.meta.apaksa }}\n</div>\n",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "id": "ffee3096-e26b-4d61-9321-ba9d571529d1",
      "name": "Client message",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2880,
        560
      ],
      "webhookId": "3976ca9a-ba9b-497a-a0e5-8e030db07966",
      "credentials": {
        "gmailOAuth2": {
          "id": "i8yUhQAx74lvxr0z",
          "name": "IR google"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=notikumi@ir.lv",
        "subject": "Jūsu pasūtījums IR DARBNĪCAS (Cits Medijs AS)   Avansa rēķins",
        "message": "=<p>\nLabdien!\n<br /><br />\nMēs esam saņēmuši Jūsu pieteikumu dalībai: \n<br /><br />\n{{ $('Stringemail').item.json[\"stringemail\"] }}\n</p>\n<p>\nPielikumā ir dalības maksas avansa rēķins.\nMaksājot ar bankas pārskaitījumu, lūdzu, norādiet rēķina numuru!\n</p>\n{{ $('Paraksts').item.json.body.meta.apaksa }}\n</div>\n\n",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "id": "8a100b7b-912d-4a86-b3cc-34bd26b20307",
      "name": "Admin message",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2880,
        800
      ],
      "webhookId": "0e97afcb-0b90-4835-b3f5-2ce761e6b4f7",
      "credentials": {
        "gmailOAuth2": {
          "id": "i8yUhQAx74lvxr0z",
          "name": "IR google"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://irdarbnicas.lv/wp-json/wp/v2/paraksti/5243",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "4c10b813-afbc-4503-bcad-928c4edcf366",
      "name": "Paraksts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2528,
        1440
      ],
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "ANe97BR4sIiNl0rE",
          "name": "IR WP API"
        }
      },
      "notes": "READ ORDER"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50f0f5b2-605b-4c49-ba54-ec5f73e6044a",
              "name": "order_nr",
              "value": "5889",
              "type": "string"
            },
            {
              "id": "ac8dceef-5020-49a3-a204-605317bef59d",
              "name": "customer_id",
              "value": "22150",
              "type": "string"
            },
            {
              "id": "8b38f08f-6443-4c2b-b236-ed3c9d6763a0",
              "name": "customer_name",
              "value": "",
              "type": "string"
            },
            {
              "id": "33467329-e099-448c-a70c-b4e2fd444960",
              "name": "payment_method",
              "value": "Bank Transfer\t",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "852e8869-b470-4ffb-9c7b-0865cf8e5709",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        272,
        784
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $jmespath($('itemlists').item.json.meta_data , \"[?key == 'pa_upsell'].value\")[0] }}",
              "value2": "normal-2"
            }
          ],
          "number": [
            {
              "value1": "={{  $('itemlists').item.json.variation_id }}",
              "operation": "equal"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "bb33bba8-4372-4d14-a313-a4d26467f208",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1104,
        944
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "discount",
              "stringValue": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "0437004d-c4ca-4cf3-b0a9-46ec385adebd",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1584,
        1248
      ],
      "notesInFlow": true,
      "notes": "Ja ir kupons , liekam Discount tagu"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('order1').item.json.body.coupon_lines[0] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "bb566702-5eae-4f81-ac2e-53be946e5e38",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1344,
        1344
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "discount",
              "stringValue": "0"
            }
          ]
        },
        "options": {}
      },
      "id": "ffa4b654-1455-4ff8-85df-15882f31e035",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1584,
        1472
      ]
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "items_"
      },
      "id": "489bf00f-8fbd-4b0d-8618-e261cd57e35c",
      "name": "items",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [
        1792,
        1024
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "name",
              "value": "=\n{{ $('itemlists').item.json[\"name\"] }}\nDatums: {{ $('Date & Time').item.json[\"formattedDate\"] }} \n"
            },
            {
              "name": "count",
              "value": "={{ parseInt($('itemlists').item.json[\"quantity\"]) }}"
            },
            {
              "name": "vat_id",
              "value": "1"
            },
            {
              "name": "unit_id",
              "value": "2"
            },
            {
              "name": "discount",
              "value": "={{ $('order1').item.json.body.coupon_lines[0].nominal_amount }}%"
            },
            {
              "name": "name_email",
              "value": "=\n{{ $('itemlists').item.json[\"name\"] }}<br/>\nDatums: {{ $('Date & Time').item.json[\"formattedDate\"] }} <br/>\nDalībnieki: {{ $('Members').item.json.members }}"
            }
          ],
          "number": [
            {
              "name": "unit_price",
              "value": "={{ $('itemlists').item.json[\"subtotal\"] / parseInt($('itemlists').item.json[\"quantity\"]) }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "ea918b07-1630-4fc2-907e-0a05e6686be5",
      "name": "Atlaide",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1344,
        832
      ],
      "notesInFlow": true,
      "notes": "Ja nav cikls liekam atlaidi"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "name",
              "value": "=\n{{ $('itemlists').item.json[\"name\"] }}\nDatums: {{ $('Date & Time').item.json[\"formattedDate\"] }} \n"
            },
            {
              "name": "count",
              "value": "={{ parseInt($('itemlists').item.json[\"quantity\"]) }}"
            },
            {
              "name": "vat_id",
              "value": "1"
            },
            {
              "name": "unit_id",
              "value": "2"
            },
            {
              "name": "discount",
              "value": "0"
            },
            {
              "name": "name_email",
              "value": "=\n{{ $('itemlists').item.json[\"name\"] }}<br/>\nDatums: {{ $('Date & Time').item.json[\"formattedDate\"] }} <br/>\nDalībnieki: {{ $('Members').item.json.members }}"
            }
          ],
          "number": [
            {
              "name": "unit_price",
              "value": "={{ $('itemlists').item.json[\"subtotal\"] / parseInt($('itemlists').item.json[\"quantity\"]) }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "5b65fde5-3831-4262-bc83-3d9b7e453f8f",
      "name": "Nav atlaides",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1344,
        1024
      ],
      "notesInFlow": true,
      "notes": "Ja nav cikls liekam atlaidi"
    },
    {
      "parameters": {},
      "id": "99e57713-3d7a-4e7f-9e97-68d69d646487",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1584,
        944
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://irekini.lv/api.php?r=invoices/invoice/create-erekins-download&access-token=8b7imvkmVIlvfntWNLN1IWs2AYtvZ-fJ&cId=16779&id={{ $('invoice_new').item.json.body[\"id\"] }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "3d25c1e2-482f-4abb-b46a-1ef75113e03e",
      "name": "Create Peppol",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3472,
        1024
      ],
      "notesInFlow": true,
      "disabled": true,
      "notes": "CREATE PDF\n"
    },
    {
      "parameters": {
        "sendTo": "={{ $('order').item.json.body.billing.email }}",
        "subject": "Jūsu pasūtījums IR DARBNĪCAS (Cits Medijs AS)  Elektroniskais rēķins PEPPOL",
        "message": "=<style>\np { padding: 10px; }\n</style>\n\n<p>\nLabdien!\n<br /><br />\nMēs esam saņēmuši Jūsu pieteikumu dalībai: \n<br /><br />\n{{ $('Stringemail').item.json[\"stringemail\"] }}\n</p>\n<p>\nPielikumā ir dalības maksas avansa rēķins.\nMaksājot ar bankas pārskaitījumu, lūdzu, norādiet rēķina numuru!\n</p>\n{{ $('Paraksts').item.json.body.meta.apaksa }}\n</div>\n",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "id": "ff5c808c-da7e-4092-9cb7-77bd20f94db7",
      "name": "Client message1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3872,
        1024
      ],
      "webhookId": "3976ca9a-ba9b-497a-a0e5-8e030db07966",
      "credentials": {
        "gmailOAuth2": {
          "id": "i8yUhQAx74lvxr0z",
          "name": "IR google"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const regex = /filename=\"([^\"]+)\"/;\nconst match = items[0].json[\"headers\"][\"content-disposition\"].match(regex);\n\nif ( match )  items[0].binary.data.fileName = match[1];\n\n\nreturn items;"
      },
      "id": "16ba63c0-b68a-4307-b7b2-d19da5f7fec8",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        3664,
        1024
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://irekini.lv/api.php?r=invoices/company/find-company&access-token=8b7imvkmVIlvfntWNLN1IWs2AYtvZ-fJ&cId=16779&id={{ $('Start').item.json.customer_id}}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "1657df42-b72f-48d2-9b37-baff37f80bc0",
      "name": "Read Partner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2880,
        1024
      ],
      "notesInFlow": true,
      "disabled": true,
      "notes": "CREATE PDF\n"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4ecbf1b1-bb53-4a3e-b33b-ef9e2a628e82",
              "leftValue": "={{ $json.body.legal_type }}",
              "rightValue": "Juridical person",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "d7c71317-23ff-4482-a899-dbd533bbe464",
              "leftValue": "={{ $json.body.country_id }}",
              "rightValue": 121,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3184,
        1024
      ],
      "id": "07a89a4d-b3b3-4879-b2bc-e7dff3b5b337",
      "name": "If",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://irekini.lv/api.php?r=invoices/invoice/get-next-invoice-number-documents&access-token=8b7imvkmVIlvfntWNLN1IWs2AYtvZ-fJ&cId=16779&documentIds=441-439&numberLength=4\n\n",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "6f49075a-c3a4-4f0d-9140-8d14452a29b7",
      "name": "invoice Number",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1280,
        272
      ],
      "notesInFlow": true,
      "executeOnce": true,
      "continueOnFail": true,
      "notes": "POST new invoice advance"
    }
  ],
  "pinData": {},
  "connections": {
    "order": {
      "main": [
        [
          {
            "node": "Set3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "invoice_label": {
      "main": [
        [
          {
            "node": "order1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "invoice_new": {
      "main": [
        [
          {
            "node": "invoice_label",
            "type": "main",
            "index": 0
          },
          {
            "node": "Invoiced Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "product": {
      "main": [
        [
          {
            "node": "Stringemail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "itemlists": {
      "main": [
        [
          {
            "node": "Members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Members": {
      "main": [
        [
          {
            "node": "product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stringemail": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stringemail1": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Client message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Admin message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create PDF": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Additional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Set Additional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set3": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Additional": {
      "main": [
        [
          {
            "node": "invoice Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "order1": {
      "main": [
        [
          {
            "node": "itemlists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Paraksts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set6": {
      "main": [
        [
          {
            "node": "save participants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paraksts": {
      "main": [
        [
          {
            "node": "Create PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Atlaide",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nav atlaides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "items": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atlaide": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nav atlaides": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Stringemail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Stringemail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Peppol": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client message": {
      "main": [
        []
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Client message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Partner": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create Peppol",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "invoice Number": {
      "main": [
        [
          {
            "node": "invoice_new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fde34eda-c646-4019-978e-b1e560c37c2c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0f064bae8ef402bc77bc2dfa9bf8ed7b60d49005d687ffae7941232c8a9d8d44"
  },
  "id": "Vid0FoFzaJ6OmdSV",
  "tags": [
    {
      "createdAt": "2023-08-10T06:09:50.889Z",
      "updatedAt": "2023-08-10T06:09:50.889Z",
      "id": "4",
      "name": "IR"
    }
  ]
}
