IR_API_create_invoice_service.json
{
  "name": "IR API create invoice service",
  "nodes": [
    {
      "parameters": {},
      "id": "86476733-1eea-46fc-b19f-1412b49fa443",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2240,
        784
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://irekini.lv/api.php?r=invoices/invoice/add-invoice-item&access-token=8b7imvkmVIlvfntWNLN1IWs2AYtvZ-fJ&cId=16779&invoiceId={{ $('invoice_new').item.json.body[\"id\"] }}&calculatedTotal={{ $('Order').item.json.body.total }}&&isDiscount={{ $json.discount }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=\n {{ JSON.stringify($json.items_) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "8299d934-1284-4170-95cb-e2e370194987",
      "name": "HTTP Request4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        192,
        928
      ],
      "notesInFlow": true,
      "notes": "POST items"
    },
    {
      "parameters": {
        "jsCode": "\n\nitems[0].binary.data.fileName = items[0].json[\"headers\"][\"content-filename\"];\n\nreturn items;"
      },
      "id": "9781ea77-ca5e-43f6-91cf-461af98b583c",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        64,
        448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://irekini.lv/api.php?r=invoices/invoice/attach-label&access-token=8b7imvkmVIlvfntWNLN1IWs2AYtvZ-fJ&cId=16779&&invoiceId={{ $json[\"body\"][\"id\"] }}&labelDefId=74\n\n",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "4295bc9c-54bb-4191-bbed-e3e637f2087e",
      "name": "invoice_label",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -128,
        -128
      ],
      "notesInFlow": true,
      "executeOnce": true,
      "continueOnFail": true,
      "notes": "LABEL API"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://irekini.lv/api.php?r=invoices/invoice/create-invoice&access-token=8b7imvkmVIlvfntWNLN1IWs2AYtvZ-fJ&cId=16779&document_id=441\n\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"InvInvoiceForm\": {\n    \n    \"doc_date\": \"{{$('Order').item.json.body.date_created_gmt}}\",\n    \"partner_id\": \"{{ $('Start').item.json.customer_id}}\",\n    \"currency_id\": \"1\",\n    \"payment_type\": \"{{ $('Start').item.json.payment_method}}\",\n    \"serial_nr_part2\"  : \"{{ $json.data }}\",\n    \"additional_info\" : {{ JSON.stringify($('Set Additional').item.json.payment)  }}\n}\n}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "8bb3cda5-cb5b-4cde-8eb3-7f08f25bb903",
      "name": "invoice_new",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -560,
        480
      ],
      "notesInFlow": true,
      "executeOnce": true,
      "continueOnFail": true,
      "notes": "POST new invoice advance"
    },
    {
      "parameters": {
        "url": "=https://irdarbnicas.lv/wp-json/wc/v3/products/{{$json.product_id}} ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "a08738d7-a4ac-463d-b83b-f47bc1ad1354",
      "name": "product",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1344,
        1200
      ],
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "9",
          "name": "IR darbnica"
        }
      },
      "notes": "READ PRODUCT"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.dateformated }}",
        "format": "custom",
        "customFormat": "dd.MM.yyyy",
        "options": {}
      },
      "id": "be5180dd-fbd5-4872-ba8b-b1c2844fe751",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1008,
        848
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n  var stringemail = '';\n  for (i of item.json.items_) {\n       stringemail = stringemail + i.name_email + \"<br /><br />\";\n  }\n\n  item.json.stringemail = stringemail;\n\nreturn $input.item;"
      },
      "id": "938965bf-0c78-493f-9203-5de3136564f0",
      "name": "Stringemail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        1408
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n  var dateformated = '';\n  for (meta of item.json.body.meta_data) {\n       if (meta['key'] == 'datums_')  item.json.dateformated = meta['value']  ;\n  }\n\n \nreturn $input.item;"
      },
      "id": "d93f7bb2-08f1-42cc-af81-208e0a07c199",
      "name": "Stringemail1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        1200
      ]
    },
    {
      "parameters": {},
      "id": "0a8bc782-c857-4e2f-aa5d-c0d4d2f05a24",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -2240,
        464
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('Order').item.json.body.payment_method }}",
        "rules": {
          "rules": [
            {
              "value2": "bacs"
            },
            {
              "value2": "everypay",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "f2f4902e-4ba1-417d-9335-f50a33d81b8b",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        464,
        448
      ]
    },
    {
      "parameters": {
        "errorMessage": "Unknown payment method"
      },
      "id": "c18167b4-6f18-4085-b197-bfba36396071",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        592,
        48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://irekini.lv/api.php?r=invoices/invoice/create-file-download&access-token=8b7imvkmVIlvfntWNLN1IWs2AYtvZ-fJ&cId=16779&id={{ $('invoice_new').first().json.body.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n     \"format\": \"pdf\",\n     \"with_sign\": 0,\n     \"show_product_code\": 0,\n     \"version\" : \"darbnica\"\n}\n",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "4c49bf8d-cdbf-4d66-8f47-03d53e8129c6",
      "name": "Create PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        400,
        672
      ],
      "notesInFlow": true,
      "notes": "CREATE PDF\n"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Start').item.json.payment_method}}",
              "value2": "Everypay"
            },
            {
              "value1": "={{ $('Order').item.json.body.status}}",
              "value2": "completed"
            }
          ]
        }
      },
      "id": "434db66b-e92f-422b-958b-2e82de4fe74b",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1024,
        192
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "payment"
            },
            {
              "name": "template",
              "value": "darbnica"
            }
          ]
        },
        "options": {}
      },
      "id": "118bc82f-17ab-41c3-ae47-8d2837af1a99",
      "name": "Set3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1280,
        192
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "additional",
              "value": "=Pasūtījuma numurs: {{ $('Order').item.json.body.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b18701a5-d60c-4749-9495-d1bd557a982d",
      "name": "Set Additional",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -864,
        480
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "payment",
              "value": "Rēķins ir apmaksāts"
            },
            {
              "name": "template",
              "value": "everypay"
            }
          ]
        },
        "options": {}
      },
      "id": "9ff92d75-39a9-4c73-a2e9-7aa48c2ffeb7",
      "name": "Set Payment",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1040,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Start').item.json.payment_method}}",
              "value2": "Everypay"
            }
          ]
        }
      },
      "id": "376c56af-d456-47a1-a4c6-b563b236bf37",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        480,
        1264
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n\nvar memberstring = '';\n\nfor (meta of $input.item.json['meta_data']) {\n    if (meta['key'] == 'Dalībnieki') {\n        var members = JSON.parse(meta[\"value\"]);\n        if (Array.isArray(members)) {\n\n                 for (member of members) {\n                       memberstring = memberstring + member[\"vards_uzvards\"] +  ' ; ' ;\n                       memberstring = memberstring + member[\"epasts\"] +  ' ; ' ;\n                  }\n        }\n      \n    }\n  \n}\n\n\n\n$input.item.json.members = memberstring.slice(0, -2);\n\nreturn $input.item;"
      },
      "id": "4560b2ee-9d52-45cc-bf9d-c6fdeddf3a30",
      "name": "Members",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        848
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.statusCode}}",
              "operation": "equal",
              "value2": 200
            }
          ]
        }
      },
      "id": "ee99dc58-adb5-4081-90bf-0b354503f9e7",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -304,
        480
      ]
    },
    {
      "parameters": {
        "errorMessage": "Unknown payment method"
      },
      "id": "a18d3cb7-bf72-4a4c-b586-e1453085ea50",
      "name": "Stop and Error1",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -368,
        128
      ]
    },
    {
      "parameters": {
        "url": "=https://irdarbnicas.lv/wp-json/wc/v3/orders/{{ $('Start').item.json.order_nr }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "c7519545-92c7-4279-b7d8-18f5da1e8a77",
      "name": "order1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1728,
        848
      ],
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "9",
          "name": "IR darbnica"
        }
      },
      "notes": "READ ORDER"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.line_items",
        "options": {}
      },
      "id": "6d301204-0db4-4681-a2e0-30366558e44c",
      "name": "itemlists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [
        -1504,
        848
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "order_nr",
              "value": "={{ $('Start').item.json.order_nr }}"
            },
            {
              "name": "customer_id",
              "value": "={{ $('Start').item.json.customer_id }}"
            },
            {
              "name": "payment_method",
              "value": "={{ $('Start').item.json.payment_method }}"
            },
            {
              "name": "invoice_nr",
              "value": "={{ $('invoice_new').item.json.body[\"id\"] }}"
            },
            {
              "name": "invoice_nr_full",
              "value": "={{ $('invoice_new').item.json.body.serial_nr_part1}}/{{ $('invoice_new').item.json.body.serial_nr_part2}}"
            },
            {
              "name": "customer_name",
              "value": "={{ $('Start').item.json.customer_name }}"
            },
            {
              "name": "service_type",
              "value": "Pakalpojuma rēķins"
            }
          ],
          "number": [
            {
              "name": "invocice_total",
              "value": "={{ $('Order').item.json.body.total}}"
            }
          ]
        },
        "options": {}
      },
      "id": "e04ec852-b18d-44d6-8b92-3fb6df4449c6",
      "name": "Set4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        720,
        928
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": "CZCvhkb89DMedz94",
        "options": {}
      },
      "id": "7d8db227-c235-4eb0-9164-0c0179bfb957",
      "name": "save participants",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        944,
        1024
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://irdarbnicas.lv/wp-json/wc/v3/orders/{{ $('Order').item.json.body.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \n   \"meta_data\" : [{\n           \"key\"  :  \"invoice\"  ,\n           \"value\" : \"{{ $('invoice_new').item.json.body[\"id\"] }}\"\n       },\n            {\n           \"key\"  :  \"partner\"  ,\n           \"value\" : \"{{ $('Start').item.json.customer_id}}\"\n       },\n{\n           \"key\"  :  \"partner_name\"  ,\n           \"value\" : {{ JSON.stringify($('Start').item.json.customer_name)}}\n       },\n       {\n           \"key\"  :  \"invoice_nr\"  ,\n           \"value\" : \"{{ $json.body.serial_nr_part2}}\"\n       },\n        {\n           \"key\"  :  \"invoice_full\"  ,\n           \"value\" : \"{{ $json.body.serial_nr_part1}}/{{ $json.body.serial_nr_part2}}\"\n       },\n {\n           \"key\"  :  \"invoice_sum\"  ,\n           \"value\" : \"{{ $('Order').item.json.body.total}}\"\n       }\n]\n\n }",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "1611b9b2-0944-47f4-9beb-b9e99b732c9c",
      "name": "Invoiced Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        144,
        160
      ],
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "9",
          "name": "IR darbnica"
        }
      },
      "notes": "READ ORDER"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Order').item.json.body.billing.email }}",
        "subject": "Jūsu pasūtījums IR DARBNĪCAS (Cits Medijs AS)",
        "message": "=<style>\np {padding: 10px; }\n</style>\n\n<div>\n<p>\nLabdien!\n<br /><br />\nMēs esam saņēmuši maksājumu par dalību: \n<br /><br />\n{{ $('Stringemail').item.json[\"stringemail\"] }}\n\nPielikumā sūtām gala rēķinu.\n<br />\nAtgādinājumu un praktisko informāciju par norisi dalībnieki saņems 2 darba dienas pirms pasākuma.\n<br />\n{{ $('Paraksts').item.json.body.meta.apaksa }}\n</div>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "id": "15495bf5-ce92-4463-83cd-8abe3d3ee491",
      "name": "Client email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        912,
        272
      ],
      "webhookId": "3eb1a46d-f813-4ff4-9c08-673e702ad9f2",
      "credentials": {
        "gmailOAuth2": {
          "id": "i8yUhQAx74lvxr0z",
          "name": "IR google"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=notikumi@ir.lv",
        "subject": "Jūsu pasūtījums IR DARBNĪCAS (Cits Medijs AS)   Avansa rēķins",
        "message": "=<style>\np {padding: 10px; }\n</style>\n\n<div>\n<p>\nLabdien!\n<br /><br />\nMēs esam saņēmuši maksājumu par dalību: \n<br /><br />\n{{ $('Stringemail').item.json[\"stringemail\"] }}\n\nPielikumā sūtām gala rēķinu.\nAtgādinājumu un praktisko informāciju par norisi dalībnieki saņems 2 darba dienas pirms pasākuma.\n<br />\n{{ $('Paraksts').item.json.body.meta.apaksa }}\n</div>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "id": "92578fb3-bd4b-4172-9bd7-c6b2c73f3c1d",
      "name": "Admin message",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        912,
        464
      ],
      "webhookId": "e8d2568a-fef4-4f0f-bd27-d39e5827e5e2",
      "credentials": {
        "gmailOAuth2": {
          "id": "i8yUhQAx74lvxr0z",
          "name": "IR google"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://irdarbnicas.lv/wp-json/wp/v2/paraksti/5243",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "9fb10c24-40e5-4801-9885-efbbaa72864c",
      "name": "Paraksts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        752,
        1264
      ],
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "ANe97BR4sIiNl0rE",
          "name": "IR WP API"
        }
      },
      "notes": "READ ORDER"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "discount",
              "stringValue": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "617e6ff6-c432-443a-b2cc-8d5d928e3f3b",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -240,
        1264
      ],
      "notesInFlow": true,
      "notes": "Ja ir kupons , liekam Discount tagu"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "discount",
              "stringValue": "0"
            }
          ]
        },
        "options": {}
      },
      "id": "71f97eb5-d2df-4ff0-85e6-f9b7a9c6bd83",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -256,
        1520
      ]
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "items_"
      },
      "id": "e8154473-060e-4c6f-9c76-27f693ff9d2b",
      "name": "items",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [
        0,
        1008
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "name",
              "value": "=\n{{ $('itemlists').item.json[\"name\"] }}\nDatums: {{ $('Date & Time').item.json[\"formattedDate\"] }} \n"
            },
            {
              "name": "count",
              "value": "={{ parseInt($('itemlists').item.json[\"quantity\"]) }}"
            },
            {
              "name": "vat_id",
              "value": "1"
            },
            {
              "name": "unit_id",
              "value": "2"
            },
            {
              "name": "discount",
              "value": "={{ $('order1').item.json.body.coupon_lines[0].nominal_amount }}%"
            },
            {
              "name": "name_email",
              "value": "=\n{{ $('itemlists').item.json[\"name\"] }}<br/>\nDatums: {{ $('Date & Time').item.json[\"formattedDate\"] }} <br/>\nDalībnieki: {{ $('Members').item.json.members }}"
            }
          ],
          "number": [
            {
              "name": "unit_price",
              "value": "={{ $('itemlists').item.json[\"subtotal\"] / parseInt($('itemlists').item.json[\"quantity\"]) }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "94e27402-e5a6-4b67-b3a1-af763ab76b7f",
      "name": "Atlaide",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -528,
        752
      ],
      "notesInFlow": true,
      "notes": "Ja nav cikls liekam atlaidi"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "name",
              "value": "=\n{{ $('itemlists').item.json[\"name\"] }}\nDatums: {{ $('Date & Time').item.json[\"formattedDate\"] }} \n"
            },
            {
              "name": "count",
              "value": "={{ parseInt($('itemlists').item.json[\"quantity\"]) }}"
            },
            {
              "name": "vat_id",
              "value": "1"
            },
            {
              "name": "unit_id",
              "value": "2"
            },
            {
              "name": "discount",
              "value": "0"
            },
            {
              "name": "name_email",
              "value": "=\n{{ $('itemlists').item.json[\"name\"] }}<br/>\nDatums: {{ $('Date & Time').item.json[\"formattedDate\"] }} <br/>\nDalībnieki: {{ $('Members').item.json.members }}"
            }
          ],
          "number": [
            {
              "name": "unit_price",
              "value": "={{ $('itemlists').item.json[\"subtotal\"] / parseInt($('itemlists').item.json[\"quantity\"]) }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "89e31fb0-0de0-4660-a8fe-5db190376fc5",
      "name": "Nav atlaides",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -528,
        944
      ],
      "notesInFlow": true,
      "notes": "Ja nav cikls liekam atlaidi"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('order1').item.json.body.coupon_lines[0] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "2fc90107-9ab9-4dda-bbc5-507de0ff5f98",
      "name": "IF4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -576,
        1392
      ]
    },
    {
      "parameters": {},
      "id": "73b2277e-9f58-4c24-bbe5-965eea36ad60",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -304,
        800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $jmespath($('itemlists').item.json.meta_data , \"[?key == 'pa_upsell'].value\")[0] }}",
              "value2": "normal-2"
            }
          ],
          "number": [
            {
              "value1": "={{  $('itemlists').item.json.variation_id }}",
              "operation": "equal"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "c57602da-fdab-4d33-8e84-c6fb2d6ddcac",
      "name": "IF5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -784,
        848
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://irekini.lv/api.php?r=invoices/invoice/create-erekins-download&access-token=8b7imvkmVIlvfntWNLN1IWs2AYtvZ-fJ&cId=16779&id={{ $('invoice_new').item.json.body[\"id\"] }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "87b77063-d592-4bd6-b9dc-9cff8e71a177",
      "name": "Create Peppol",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1488,
        704
      ],
      "notesInFlow": true,
      "disabled": true,
      "notes": "CREATE PDF\n"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Order').item.json.body.billing.email }}",
        "subject": "Jūsu pasūtījums IR DARBNĪCAS (Cits Medijs AS)  Elektroniskais rēķins PEPPOL",
        "message": "=<style>\np { padding: 10px; }\n</style>\n\n<p>\nLabdien!\n<br /><br />\nMēs esam saņēmuši Jūsu pieteikumu dalībai: \n<br /><br />\n{{ $('Stringemail').item.json[\"stringemail\"] }}\n</p>\n<p>\nPielikumā ir dalības maksas avansa rēķins.\nMaksājot ar bankas pārskaitījumu, lūdzu, norādiet rēķina numuru!\n</p>\n{{ $('Paraksts').item.json.body.meta.apaksa }}\n</div>\n",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "id": "caf1eadc-6d90-4b46-a0e1-8920e43e6f23",
      "name": "Client message1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1888,
        704
      ],
      "webhookId": "3976ca9a-ba9b-497a-a0e5-8e030db07966",
      "credentials": {
        "gmailOAuth2": {
          "id": "i8yUhQAx74lvxr0z",
          "name": "IR google"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const regex = /filename=\"([^\"]+)\"/;\nconst match = items[0].json[\"headers\"][\"content-disposition\"].match(regex);\n\nif ( match )  items[0].binary.data.fileName = match[1];\n\n\nreturn items;"
      },
      "id": "d83fdc51-2eb2-4843-9f19-d629cd473f1c",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1680,
        704
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://irekini.lv/api.php?r=invoices/company/find-company&access-token=8b7imvkmVIlvfntWNLN1IWs2AYtvZ-fJ&cId=16779&id={{ $('Start').item.json.customer_id}}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "c5139c9f-5a96-4a85-81e8-e888eadc1463",
      "name": "Read Partner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        912,
        704
      ],
      "notesInFlow": true,
      "disabled": true,
      "notes": "CREATE PDF\n"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4ecbf1b1-bb53-4a3e-b33b-ef9e2a628e82",
              "leftValue": "={{ $json.body.legal_type }}",
              "rightValue": "Juridical person",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "d7c71317-23ff-4482-a899-dbd533bbe464",
              "leftValue": "={{ $json.body.country_id }}",
              "rightValue": 121,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        704
      ],
      "id": "436288cc-6f5a-4290-8580-00219b197ba9",
      "name": "If",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd1722b0-ec2d-4582-8ce7-3ab1d5933303",
              "name": "code",
              "value": "609",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        1008
      ],
      "id": "3e972548-92db-49cd-9fe3-64f3849ca9f6",
      "name": "Code 609"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://irekini.lv/api.php?r=invoices/invoice/get-next-invoice-number-documents&access-token=8b7imvkmVIlvfntWNLN1IWs2AYtvZ-fJ&cId=16779&documentIds=441-439&numberLength=4\n\n",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "f781c3f4-a040-4063-b22f-ffc96aa18ea8",
      "name": "invoice Number",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -704,
        288
      ],
      "notesInFlow": true,
      "executeOnce": true,
      "continueOnFail": true,
      "notes": "POST new invoice advance"
    },
    {
      "parameters": {
        "url": "=https://irdarbnicas.lv/wp-json/wc/v3/orders/{{ $json.order_nr }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "d9447b35-6929-4eae-85df-207a518c71bb",
      "name": "Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1520,
        464
      ],
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "9",
          "name": "IR darbnica"
        }
      },
      "notes": "READ ORDER"
    },
    {
      "parameters": {
        "content": "## peppol\n",
        "height": 256,
        "width": 1360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        624
      ],
      "typeVersion": 1,
      "id": "67bf26f2-6488-4c57-a1aa-c34cf7db7be3",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "invoice_new": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "product": {
      "main": [
        [
          {
            "node": "Stringemail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "IF5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stringemail": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stringemail1": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "Client email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Admin message",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create PDF": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Set Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set3": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Additional": {
      "main": [
        [
          {
            "node": "invoice Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Payment": {
      "main": [
        [
          {
            "node": "Set Additional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Paraksts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Members": {
      "main": [
        [
          {
            "node": "product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "invoice_label",
            "type": "main",
            "index": 0
          },
          {
            "node": "Invoiced Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "invoice_label": {
      "main": [
        [
          {
            "node": "order1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "order1": {
      "main": [
        [
          {
            "node": "itemlists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "itemlists": {
      "main": [
        [
          {
            "node": "Members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set4": {
      "main": [
        [
          {
            "node": "save participants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paraksts": {
      "main": [
        [
          {
            "node": "Create PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "items": {
      "main": [
        [
          {
            "node": "IF4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atlaide": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nav atlaides": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "IF4": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Stringemail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Stringemail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code 609",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF5": {
      "main": [
        [
          {
            "node": "Atlaide",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nav atlaides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Peppol": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Client message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Partner": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create Peppol",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code 609": {
      "main": [
        [
          {
            "node": "items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "invoice Number": {
      "main": [
        [
          {
            "node": "invoice_new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order": {
      "main": [
        [
          {
            "node": "Set3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "BDx8NwbqJhGZxzLz",
    "executionOrder": "v1"
  },
  "versionId": "e2da30a6-18c9-4a3a-ad55-993efec6e6a6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0f064bae8ef402bc77bc2dfa9bf8ed7b60d49005d687ffae7941232c8a9d8d44"
  },
  "id": "N4bX7ICIlEDvI32H",
  "tags": [
    {
      "createdAt": "2023-08-10T06:09:50.889Z",
      "updatedAt": "2023-08-10T06:09:50.889Z",
      "id": "4",
      "name": "IR"
    }
  ]
}
