Ir_bookings.json
{
  "name": "Ir bookings",
  "nodes": [
    {
      "parameters": {},
      "id": "6f986707-620e-4602-9888-a6fb793e513e",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -840,
        20
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "1d30d579-08d3-4e18-a585-294c56198968",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -820,
        400
      ]
    },
    {
      "parameters": {
        "url": "= https://irdarbnicas.lv/wp-json/wc/v3/orders/{{ $json.order_nr}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "84142c66-424e-4f6a-972e-1802a24e4b8c",
      "name": "Order1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -360,
        100
      ],
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "9",
          "name": "IR darbnica"
        }
      },
      "notes": "READ ORDER"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "pnumurs",
              "stringValue": "={{ $('Order1').item.json.body.id }}"
            },
            {
              "name": "pvards",
              "stringValue": "={{ $('Order1').item.json.body.billing.first_name  }}  "
            },
            {
              "name": "ptelefons",
              "stringValue": "={{ $('Order1').item.json.body.billing.phone  }}  "
            },
            {
              "name": "pemails",
              "stringValue": "={{ $('Order1').item.json.body.billing.email  }}  "
            },
            {
              "name": "puznemums",
              "stringValue": "="
            },
            {
              "name": "pdatums",
              "stringValue": "={{ $('Order1').item.json.body.date_created  }}  "
            },
            {
              "name": "pkomentars",
              "stringValue": "={{ $('Order1').item.json.body.customer_note}}  "
            },
            {
              "name": "puzvards",
              "stringValue": "={{ $('Order1').item.json.body.billing.last_name  }}  "
            },
            {
              "name": "psumma",
              "type": "numberValue",
              "numberValue": "={{ $('Order1').item.json.body.total}}  "
            }
          ]
        },
        "options": {}
      },
      "id": "7f887e5b-6cf0-48cc-8f57-18fb831d8f45",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.1,
      "position": [
        -480,
        400
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1j2S0H3fqVlezYuv9UBFjzCrrQnkFwiV5i2OGnlAa1L0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Lapa1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1j2S0H3fqVlezYuv9UBFjzCrrQnkFwiV5i2OGnlAa1L0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Dalībnieka vārds": "={{ $json.participants.vards_uzvards }}",
            "Dalībnieka e-pasts": "={{ $json.participants.epasts }}",
            "Dalībnieka tālr. nr.": "={{ $json.participants.telefons }}",
            "Darbnīca": "={{ $json.name }}",
            "Statuss": "={{ $('Start').item.json.service_type }}",
            "Pieteicēja vārds": "={{ $json.pvards }}",
            "Pieteicēja tālr. nr.": "={{ $json.ptelefons }}",
            "Pieteicēja e-pasts": "={{ $json.pemails }}",
            "Uzņēmuma nosaukums": "={{ $('Start').item.json.customer_name }}",
            "Pasūtījuma ID": "={{ $json.pnumurs }}",
            "Pasūtījuma datums": "={{ $json.pdatums }}",
            "Piezīmes": "={{ $json.pkomentars }}",
            "Rēķina Nr.": "={{ $('Start').item.json.invoice_nr_full }}",
            "Pieteicēja uzvārds": "={{ $json.puzvards }}",
            "Rēķina summa": "={{ $('Start').item.json.invocice_total.toFixed(2) }}",
            "Gads": "={{ $json.pyear }}",
            "Mēnesis": "={{ $json.pmonth }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Dalībnieka vārds",
              "displayName": "Dalībnieka vārds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dalībnieka e-pasts",
              "displayName": "Dalībnieka e-pasts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dalībnieka tālr. nr.",
              "displayName": "Dalībnieka tālr. nr.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Darbnīca",
              "displayName": "Darbnīca",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Statuss",
              "displayName": "Statuss",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rēķina Nr.",
              "displayName": "Rēķina Nr.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pieteicēja vārds",
              "displayName": "Pieteicēja vārds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pieteicēja uzvārds",
              "displayName": "Pieteicēja uzvārds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pieteicēja tālr. nr.",
              "displayName": "Pieteicēja tālr. nr.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pieteicēja e-pasts",
              "displayName": "Pieteicēja e-pasts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Uzņēmuma nosaukums",
              "displayName": "Uzņēmuma nosaukums",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rēķina summa",
              "displayName": "Rēķina summa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pasūtījuma ID",
              "displayName": "Pasūtījuma ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pasūtījuma datums",
              "displayName": "Pasūtījuma datums",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Piezīmes",
              "displayName": "Piezīmes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mēnesis",
              "displayName": "Mēnesis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Gads",
              "displayName": "Gads",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "92ece2aa-f954-4987-86e4-288046b027d4",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        40,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6OCPtYLn2JwWitAP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.line_items",
        "options": {}
      },
      "id": "354dcae3-fe27-440f-9915-f424c7fccc4a",
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3.1,
      "position": [
        -140,
        100
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "participants",
              "type": "arrayValue",
              "arrayValue": "={{ JSON.parse($jmespath($json.meta_data , \"[?key == 'Dalībnieki'].value\")) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bf111b1e-0c78-446c-885e-d1ed0d0f2b08",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.1,
      "position": [
        100,
        100
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "participants",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "75f0d828-fdfe-4636-9e0d-ea610543973d",
      "name": "Item Lists2",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3.1,
      "position": [
        340,
        100
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\nconst year =  $input.item.json.pdatums.split('-')[0];\nconst month =  $input.item.json.pdatums.split('-')[1];\n\n$input.item.json.pyear = year;\n$input.item.json.pmonth = month;\n\nreturn $input.item;"
      },
      "id": "14ad010e-fe0f-4397-9242-f1efc1e89e0a",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Order1": {
      "main": [
        [
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Item Lists2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Order1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "acac42b1-ec2d-4f8d-9831-dc44919949ae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0f064bae8ef402bc77bc2dfa9bf8ed7b60d49005d687ffae7941232c8a9d8d44"
  },
  "id": "CZCvhkb89DMedz94",
  "tags": [
    {
      "createdAt": "2023-08-10T06:09:50.889Z",
      "updatedAt": "2023-08-10T06:09:50.889Z",
      "id": "4",
      "name": "IR"
    }
  ]
}
