IR_order_completed.json
{
  "name": "IR order completed",
  "nodes": [
    {
      "parameters": {
        "url": "= https://irdarbnicas.lv/wp-json/wc/v3/orders/{{ $json.body.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "383356c0-82d3-4864-990c-8eceaaa37d22",
      "name": "order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -140,
        680
      ],
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "9",
          "name": "IR darbnica"
        }
      },
      "notes": "READ ORDER"
    },
    {
      "parameters": {
        "jsCode": "\n\nitems[0].binary.data.fileName = items[0].json[\"headers\"][\"content-filename\"];\n\nreturn items;"
      },
      "id": "88b60dbe-eb58-4d6d-a41c-f06a1738437a",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2340,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://irekini.lv/api.php?r=invoices/invoice/create-file-download&access-token=8b7imvkmVIlvfntWNLN1IWs2AYtvZ-fJ&cId=16779&id={{ $('invoice_new').item.json.body[\"id\"] }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n     \"format\": \"pdf\",\n     \"with_sign\": 0,\n     \"show_product_code\": 0,\n     \"version\" : \"darbnica\"\n}\n",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "05432d02-cb54-45ea-8e3a-fb674cf6a1f6",
      "name": "Create PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2060,
        540
      ],
      "notesInFlow": true,
      "notes": "CREATE PDF\n"
    },
    {
      "parameters": {},
      "id": "80530541-6586-4188-a1fa-e68e673bd50f",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -680,
        680
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "63436e1a-3594-4c27-9524-219aaa12ddb9",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2120,
        800
      ]
    },
    {
      "parameters": {
        "errorMessage": "attach invoice fail"
      },
      "id": "b23c5b8a-ab0f-4901-96c9-1ea7e229a51a",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2420,
        880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://irekini.lv/api.php?r=invoices/invoice/attach-label&access-token=8b7imvkmVIlvfntWNLN1IWs2AYtvZ-fJ&cId=16779&&invoiceId={{ $json[\"body\"][\"id\"] }}&labelDefId=74\n\n",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "1c2e1090-35fb-44f7-ab01-baeecae6bf0f",
      "name": "invoice_label",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1600,
        800
      ],
      "notesInFlow": true,
      "executeOnce": true,
      "continueOnFail": true,
      "notes": "LABEL API"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://irekini.lv/api.php?r=invoices/invoice/create-invoice&access-token=8b7imvkmVIlvfntWNLN1IWs2AYtvZ-fJ&cId=16779&document_id=441\n\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"InvInvoiceForm\": {\n    \n    \"doc_date\": \"{{$('order').item.json.body.date_created_gmt}}\",\n    \"partner_id\": \"{{ $jmespath($('order').item.json.body.meta_data , \"[?key == 'partner'].value\") }}\",\n    \"currency_id\": \"1\",\n    \"payment_type\": \"Bank Transfer\",\n    \"additional_info\" : \"\",\n    \"serial_nr_part2\"  : \"{{ $jmespath($('order').item.json.body.meta_data , \"[?key == 'invoice_nr'].value\") }}\",\n     \"additional_info\" : \"Rēķins ir apmaksāts\"\n}\n}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "4932f99e-f69d-47bc-8dfe-5d0ff3a2d5da",
      "name": "invoice_new",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1360,
        800
      ],
      "notesInFlow": true,
      "executeOnce": true,
      "continueOnFail": true,
      "notes": "POST new invoice advance"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "payment",
              "value": "Rēķins ir apmaksāts ar Everypay"
            }
          ]
        },
        "options": {}
      },
      "id": "03e1e250-b15a-4902-9c71-11cb533188a3",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        900,
        680
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "payment"
            }
          ]
        },
        "options": {}
      },
      "id": "bb0b3d9b-c672-4168-b276-2ef22bada26f",
      "name": "Set3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        160,
        680
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "additional",
              "value": "=Pasūtījuma numurs: {{ $('order').item.json.body.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "29186e8e-06ac-41e5-a18e-99174cd97408",
      "name": "Set Additional",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1100,
        800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('order').item.json.body.payment_method }}",
              "value2": "Everypay"
            }
          ]
        }
      },
      "id": "012ae6c7-81dc-40f5-9b57-9a424efa8325",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        640,
        680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://irekini.lv/api.php?r=invoices/invoice/add-invoice-item&access-token=8b7imvkmVIlvfntWNLN1IWs2AYtvZ-fJ&cId=16779&invoiceId={{ $('invoice_new').item.json.body[\"id\"] }}&calculatedTotal={{ $('order').item.json.body.total }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=\n {{ JSON.stringify($json.items_) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "59a39f13-9515-4141-aff5-e2c4c5f1b09f",
      "name": "HTTP Request4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2200,
        1480
      ],
      "notesInFlow": true,
      "notes": "POST items"
    },
    {
      "parameters": {
        "url": "= https://irdarbnicas.lv/wp-json/wc/v3/products/{{$json.product_id}} ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "70a23c26-cecd-47c0-8c31-e1e34458a1ab",
      "name": "product",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        420,
        1680
      ],
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "9",
          "name": "IR darbnica"
        }
      },
      "notes": "READ PRODUCT"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.line_items",
        "options": {}
      },
      "id": "4a501791-6ff5-403b-8885-8acc5fcde3d8",
      "name": "itemlists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [
        120,
        1320
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.dateformated }}",
        "format": "custom",
        "customFormat": "dd.MM.yyyy",
        "options": {}
      },
      "id": "327262ab-2b58-457a-999a-380829149970",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        760,
        1340
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n\nvar memberstring = '';\n\nfor (meta of $input.item.json['meta_data']) {\n    if (meta['key'] == 'Dalībnieki') {\n        var members = JSON.parse(meta[\"value\"]);\n        if (Array.isArray(members)) {\n\n                 for (member of members) {\n                       memberstring = memberstring + member[\"vards_uzvards\"] +  '; ' ;\n                       memberstring = memberstring + member[\"epasts\"] +  '; ' ;                      \n                  }\n        }\n      \n    }\n  \n}\n\n\n\n$input.item.json.members = memberstring.slice(0, -2);\n\nreturn $input.item;"
      },
      "id": "a8bca094-dc28-46c3-8d8f-03d977ecd19c",
      "name": "Members",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        1320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n  var dateformated = '';\n  for (meta of item.json.body.meta_data) {\n       if (meta['key'] == 'datums_')  item.json.dateformated = meta['value'] ;\n  }\n\n \nreturn $input.item;"
      },
      "id": "23a09c72-0498-4ee6-b4bb-9f7831464cf8",
      "name": "Stringemail1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        1680
      ]
    },
    {
      "parameters": {
        "url": "= https://irdarbnicas.lv/wp-json/wc/v3/orders/{{ $('order').item.json.body.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "ba0d5be3-820e-4a87-bd01-3e2e4574efbe",
      "name": "order1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -140,
        1320
      ],
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "9",
          "name": "IR darbnica"
        }
      },
      "notes": "READ ORDER"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://irekini.lv/api.php?r=invoices/invoice/attach-advance&access-token=8b7imvkmVIlvfntWNLN1IWs2AYtvZ-fJ&cId=16779&invoiceId={{ $('invoice_new').item.json.body[\"id\"] }}&advanceInvoiceId={{ $jmespath($('order').item.json.body.meta_data , \"[?key == 'invoice'].value\") }}\n \n",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "696dd84d-a071-47f5-84b5-1c18df04b29a",
      "name": "attach advance1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2040,
        1100
      ],
      "notesInFlow": true,
      "executeOnce": true,
      "continueOnFail": true,
      "notes": "POST new invoice advance"
    },
    {
      "parameters": {
        "sendTo": "={{ $('order').item.json.body.billing.email }}",
        "subject": "Jūsu pasūtījums IR DARBNĪCAS (Cits Medijs AS)",
        "message": "=<style>\np {padding: 10px; }\n</style>\n<div>\n<p>\nLabdien!\n<br /><br />\nMēs esam saņēmuši maksājumu par dalību: \n<br /><br />\n{{ $('Stringemail').item.json[\"stringemail\"] }}\n<br />\nAtgādinājumu un praktisko informāciju par norisi dalībnieki saņems 2 darba dienas pirms pasākuma.\n<br />\n{{ $('Paraksts').item.json.body.meta.apaksa }}\n</div>\n",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "id": "7d072349-f54b-41ed-92c6-dc85f3effac1",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2640,
        540
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "i8yUhQAx74lvxr0z",
          "name": "IR google"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "postId": "4059",
        "options": {}
      },
      "id": "5b13766d-50aa-40fb-9ce5-4a0745bd7d33",
      "name": "Wordpress",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        2760,
        900
      ],
      "credentials": {
        "wordpressApi": {
          "id": "ztAJ0fg4VhMvF1EU",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "= https://irdarbnicas.lv/wp-json/wc/v3/orders/{{ $('order').item.json.body.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \n   \"meta_data\" : [{\n           \"key\"  :  \"invoice\"  ,\n           \"value\" : \"{{ $('invoice_new').item.json.body[\"id\"] }}\"\n       },\n          \n       {\n           \"key\"  :  \"invoice_nr\"  ,\n           \"value\" : \"{{ $json.body.serial_nr_part2}}\"\n       },\n        {\n           \"key\"  :  \"invoice_full\"  ,\n           \"value\" : \"{{ $json.body.serial_nr_part1}}/{{ $json.body.serial_nr_part2}}\"\n       }\n]\n\n }",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "58bdd047-2f22-4342-a107-e6bded50168f",
      "name": "Paid Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1600,
        560
      ],
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "9",
          "name": "IR darbnica"
        }
      },
      "notes": "READ ORDER"
    },
    {
      "parameters": {
        "workflowId": "qNtCaGEYMvmhcyEG",
        "options": {}
      },
      "id": "f7bf4ca5-8fea-4f3b-af0e-c9eb44cb8313",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2560,
        1220
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "order_nr",
              "value": "={{ $('order').item.json.body.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9fee0508-6158-4182-9bf5-0e3f46fa1c8b",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2300,
        1220
      ]
    },
    {
      "parameters": {
        "url": "= https://irdarbnicas.lv/wp-json/wp/v2/paraksti/5243",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "70da2db9-db5a-436b-90c7-12d6012b48b8",
      "name": "Paraksts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1840,
        800
      ],
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "ANe97BR4sIiNl0rE",
          "name": "IR WP API"
        }
      },
      "notes": "READ ORDER"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "discount",
              "stringValue": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "60ac524d-a536-4404-87b0-4e3df1d8721b",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1720,
        1800
      ],
      "notesInFlow": true,
      "notes": "Ja ir kupons , liekam Discount tagu"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "discount",
              "stringValue": "0"
            }
          ]
        },
        "options": {}
      },
      "id": "914ba6cc-da46-487a-881d-057a3a1e5223",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1720,
        2000
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('order1').item.json.body.coupon_lines[0] }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "7da3979e-dd72-4fab-aaa3-06793dfb3a25",
      "name": "IF4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1300,
        1880
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n  var stringemail = '';\n  for (i of item.json.items_) {\n       stringemail = stringemail + i.name_email + \"<br /><br />\";\n  }\n\n  item.json.stringemail = stringemail;\n\nreturn $input.item;"
      },
      "id": "e7f015d2-239c-484e-ab46-a698c2971c88",
      "name": "Stringemail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2040,
        1880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('order').item.json.body.payment_method }}",
              "value2": "bacs"
            }
          ]
        }
      },
      "id": "c0a0bc61-145b-4048-9197-1e1f25946e9b",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        380,
        680
      ]
    },
    {
      "parameters": {
        "errorMessage": "Wrong method"
      },
      "id": "6a83dae3-bb2e-4abb-8854-993ccb5786d8",
      "name": "Stop and Error1",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        160,
        920
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5aa23911-6370-40bc-b97e-e8812b5c8459",
        "options": {}
      },
      "id": "4cb8a336-34ac-437b-82a4-4d1b521b34c6",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -480,
        420
      ],
      "webhookId": "5aa23911-6370-40bc-b97e-e8812b5c8459"
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "items_"
      },
      "id": "066a4d88-4497-4959-a55f-e2634372fab8",
      "name": "items",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [
        1720,
        1560
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "name",
              "value": "=\n{{ $('itemlists').item.json[\"name\"] }}\nDatums: {{ $('Date & Time').item.json[\"formattedDate\"] }} \n"
            },
            {
              "name": "count",
              "value": "={{ parseInt($('itemlists').item.json[\"quantity\"]) }}"
            },
            {
              "name": "vat_id",
              "value": "1"
            },
            {
              "name": "unit_id",
              "value": "2"
            },
            {
              "name": "discount",
              "value": "={{ $('order1').item.json.coupon_lines[0].nominal_account }}%"
            },
            {
              "name": "name_email",
              "value": "=\n{{ $('itemlists').item.json[\"name\"] }}<br/>\nDatums: {{ $('Date & Time').item.json[\"formattedDate\"] }} <br/>\nDalībnieki: {{ $('Members').item.json.members }}"
            }
          ],
          "number": [
            {
              "name": "unit_price",
              "value": "={{ $('itemlists').item.json[\"subtotal\"] / parseInt($('itemlists').item.json[\"quantity\"]) }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "eb71c43c-4bc4-4e3f-ac1a-ce2e651876aa",
      "name": "Atlaide",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1300,
        1260
      ],
      "notesInFlow": true,
      "notes": "Ja nav cikls liekam atlaidi"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "name",
              "value": "=\n{{ $('itemlists').item.json[\"name\"] }}\nDatums: {{ $('Date & Time').item.json[\"formattedDate\"] }} \n"
            },
            {
              "name": "count",
              "value": "={{ parseInt($('itemlists').item.json[\"quantity\"]) }}"
            },
            {
              "name": "vat_id",
              "value": "1"
            },
            {
              "name": "unit_id",
              "value": "2"
            },
            {
              "name": "discount",
              "value": "0"
            },
            {
              "name": "name_email",
              "value": "=\n{{ $('itemlists').item.json[\"name\"] }}<br/>\nDatums: {{ $('Date & Time').item.json[\"formattedDate\"] }} <br/>\nDalībnieki: {{ $('Members').item.json.members }}"
            }
          ],
          "number": [
            {
              "name": "unit_price",
              "value": "={{ $('itemlists').item.json[\"subtotal\"] / parseInt($('itemlists').item.json[\"quantity\"]) }}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "5d574156-863e-4fbf-a6cf-ecc03b1c8883",
      "name": "Nav atlaides",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1300,
        1480
      ],
      "notesInFlow": true,
      "notes": "Ja nav cikls liekam atlaidi"
    },
    {
      "parameters": {},
      "id": "8589d875-8fbc-481e-982f-d72347bd28b6",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1580,
        1380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $jmespath($('itemlists').item.json.meta_data , \"[?key == 'pa_upsell'].value\")[0] }}",
              "operation": "notEqual",
              "value2": "upsell-2"
            }
          ]
        }
      },
      "id": "620b1827-4b11-4e82-be59-0028d57f9a48",
      "name": "IF3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        1340
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Create PDF": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Paraksts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "invoice_new": {
      "main": [
        [
          {
            "node": "invoice_label",
            "type": "main",
            "index": 0
          },
          {
            "node": "Paid Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Set Additional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set3": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Additional": {
      "main": [
        [
          {
            "node": "invoice_new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Additional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "attach advance1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "product": {
      "main": [
        [
          {
            "node": "Stringemail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "itemlists": {
      "main": [
        [
          {
            "node": "Members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Members": {
      "main": [
        [
          {
            "node": "product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stringemail1": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "order1": {
      "main": [
        [
          {
            "node": "itemlists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "invoice_label": {
      "main": [
        [
          {
            "node": "order1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "attach advance1": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paraksts": {
      "main": [
        [
          {
            "node": "Create PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Stringemail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Stringemail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF4": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stringemail": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "order": {
      "main": [
        [
          {
            "node": "Set3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atlaide": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nav atlaides": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF3": {
      "main": [
        [
          {
            "node": "Nav atlaides",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atlaide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "items": {
      "main": [
        [
          {
            "node": "IF4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "70eb23a9-5989-4c98-a5f4-d116f174cd84",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0f064bae8ef402bc77bc2dfa9bf8ed7b60d49005d687ffae7941232c8a9d8d44"
  },
  "id": "FIYjPV7WNQZqh1Sn",
  "tags": [
    {
      "createdAt": "2023-08-10T06:09:50.889Z",
      "updatedAt": "2023-08-10T06:09:50.889Z",
      "id": "4",
      "name": "IR"
    }
  ]
}
